@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

section {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.card-event {
	position: relative;
	margin: 0 10px;
	width: 255px;
}

.card-event-header img {
	width: 255px;
    height: 137px;
}

.card-event-header p {
    position: absolute;
    top: -8px;
    color: #ffffff;
    left: 155px;
    background-color: #008d8d;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
 
 }


 h3{
 	color: #d52f5e;
 	white-space: nowrap;
 	overflow: hidden;
 	text-overflow: ellipsis;
 }

.card-event-body .card-event-body-local,
.card-event-body .card-event-body-date {
	display: flex;
	justify-content: center;
	align-items: center;
}


.card-event-body .fa,
.card-event-body .card-event-body-social-media .fa {
	color: #6d6d6d;
	margin-right: 5px;
}

.button-primary {
	color: white;
	background-color: #bbcc5e;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding: 5px;
    width: 153px;
    margin: 0 auto;
    display: block;
}

.button-secondary {
	color: white;
	background-color: #1bb6c1;
	border: none;
	border-radius: 5px;
	cursor: pointer;
    padding: 10px;
    width: 233px;
    margin: 70px auto 0 auto;
    display: block;
}

.speedlist { position: relative;}
.speedlist .card-event {display:inline ; margin:30px}
.speedlist:before, .speedlist:after { content: ""; display: inline;}
.speedlist:after { clear: both }
.speedlist .card-event:nth-child(n+11) { display: none; visibility: hidden;}

input[type=checkbox] { border: 0; clip: rect(0 0 0 0);  height: 1px;    width: 1px;  margin: -1px;    overflow: hidden;    padding: 0;    position: absolute;}

[for="load_more"] { color: white;
	background-color: #1bb6c1;
	border: none;
	border-radius: 5px;
	cursor: pointer;
    padding: 10px;
    width: 233px;
    margin: 70px auto 0 auto;
    display: block;
}
[for="load_more"] span:last-of-type { display: none; visibility: hidden;}

input[type=checkbox]:checked ~ .card-event { display: inline; visibility:visible; }
input[type=checkbox]:checked ~ [for="load_more"] span:first-of-type {display: none; visibility: hidden;}
input[type=checkbox]:checked ~ [for="load_more"] span:last-of-type {visibility: visible;display:block}