@import url('https://fonts.googleapis.com/css?family=Roboto');

/*COMPONENTES BASICOS*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto;
}

li {
    list-style: none;
}


/*CORES*/
.white{
    color: #eeeeee;
}

.grey{
    color:#434343;
}

.white-two{
    color: #ffffff;
}

.black{
    color: #333333;
}

.lipstick{
    color: #ba205a;
}

.windows-blue{
    color: : #3b57c2;
}

.black-two{
    color: #030303;
}

.pea{
    color: #cbad22;
}

.ocher{
    color: #c2a20c;
}

.black-three{
    color: #000000;
}

.dusty-lavender{
    color: #cac8c9;
}

.maize{
    color: #f3c259;
}

.white-three{
    color: #fefefe;
}


/*TEXTO*/
.title-large {
    font-family: Roboto;
    font-size: 60px;
    text-align: center;
}

.title-medium {
    font-family: Roboto;
    font-size: 48px;
    text-align: center;
}

.title-normal {
    font-family: Roboto;
    font-size: 36px;
    text-align: left;
}

.text-style {
    font-family: Roboto;
    font-size: 30px;
    text-align: left;
    color: #c2a20c;
    color: var(--ocher);
}

.text-medium {
    font-family: Roboto;
    font-size: 24px;
    text-align: left;
}

.text-normal {
    font-family: Roboto;
    font-size: 20px;
    text-align: center;
}

.text-small {
    font-family: Roboto;
    font-size: 14px;
    text-align: left;
    color: #ffffff;
    color: var(--white-two);
}

.google-form {
    height: 100vh;
    width: 100%;
}


/*CABECALHO*/
#header {
    position: fixed;
    width: 100%;
    padding: 5px 30px;
    background-color: #eeeeee;
    box-shadow: 0 0 10px 0 #999;
    z-index: 1;
}

#header .logo img {
    width: 50%;
    float: left;
}

.header-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-navbar-menu {
    display: none;
}

.header-social-media {
    display: none;
}

.header-social-media {
    padding-top: 7px;
}

.header-social-media li {
    display: inline-block;
    padding: 2px;
}

.header-social-media ul li a, 
.header-social-media ul li a:active, 
.header-social-media ul li a:visited {
    text-decoration: none;
}

.header-social-media i.fa {
    font-size: 22px;
    color: #666666;
}

.header-menu-hamburger .submenu-hamburger {
    display: none;
    position: absolute;
    top: 100%;
    left: -30px;
    width: calc(100% + 60px);
    padding: 30px 0;
    margin: 0;
    background-color: #eeeeee;
    border-top: 1px solid #000000;
}

.header-menu-hamburger .submenu-hamburger li:last-child ul {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-menu-hamburger .submenu-hamburger > li + li {
    margin-top: 15px;
}

.header-menu-hamburger .submenu-hamburger a {
    color: currentColor;
    text-decoration: none;
    padding: 10px;
    font-size: 15px;
    font-family: Roboto;
}

.header-menu-hamburger .submenu-hamburger a:hover {
    color: #ba205a;
    cursor: pointer;
}

.header-menu-hamburger input[type="checkbox"] {
    display: none;
}

.header-menu-hamburger input[type="checkbox"]:checked ~ .submenu-hamburger {
    display: block;
}

.header-menu-hamburger label {
    height: 100%;
    display: flex;
    align-items: center;
}

.search {
    text-align: center;
    width: 219px;
    height: 30px;
    margin-top: 17px;
    border: solid 1px #999999;
    border-radius: 10px;
    background-color: #ffffff;
}

@media (min-width: 992px) {
    #header .logo img {
        width: 100%;
    }

    .header-navbar-menu {
        display: block;
    }

    .header-navbar-menu ul {
        margin-top: 25px;
    }

    .header-navbar-menu ul li {
        display: inline;
    }

    .header-navbar-menu ul li a {
        color: currentColor;
        text-decoration: none;
        padding: 10px;
        font-size: 15px;
        font-family: Roboto;
    }

    .header-navbar-menu a:hover {
        color: #ba205a;
        cursor: pointer;
    }

    .header-social-media {
        display: block;
    }

    .header-menu-hamburger {
        display: none;
    }
}


/*BANNER*/
#banner {
    background-image: url("../images/campus.png");
    background-repeat: no-repeat;
    text-align: center;
    height: 100vh;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.sub-title {
    font-size: 20px;
    padding: 0 20px;
}

.button-primary {
    border: 1px solid #2AC2F5;
    border-radius: 15px;
    cursor: pointer;    
    font-size: 15px;
    padding: 13px 65px;
    background: #2AC2F5;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}


/*EVENTOS*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

#events {
    position: relative;
    padding-bottom: 60px;
}

#events ul {
    padding: 0;
    position: relative;
}

.events:after {
    clear: both
}

.events:before, .events:after {
    content: "";
    display: inline;
}

#events input[type=checkbox] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

#events label[for="load_more"] {
    left: 50%;
    bottom: 30px;
    margin: 0;
    position: absolute;
    transform: translateX(-50%);
}

#events label[for="load_more"] span:last-of-type {
    display: none;
    visibility: hidden;
}

#events input[type=checkbox]:checked ~ ul li {
    display: inline-block;
    visibility:visible;
}

#events input[type=checkbox]:checked ~ [for="load_more"] span:first-of-type {
    display: none;
    visibility: hidden;
}

#events input[type=checkbox]:checked ~ [for="load_more"] span:last-of-type {
    visibility: visible;
    display:block
}

#events .button-primary {
    color: white;
    background: #d6de23;
    border: 1px solid #d6de23;
    border-radius: 15px;
    cursor: pointer;
    padding: 13px 65px;
    margin: 0 auto;
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
}

#events .button-secondary {
    color: #1bb6c1;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #1bb6c1;
    border-radius: 15px;
    cursor: pointer;
    padding: 13px 65px;
    width: 233px;
    margin: 70px auto 0 auto;
    display: block;
    text-transform: uppercase;
}

.events-title {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    color: #333333;
    padding: 65px 0;
    margin: 0;
}

.events-subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    color: #BB1B58;
    margin: 65px 0 30px 0;
}

.events-description {
    max-width: 823px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: #030303;
    padding: 0 10px;
    margin: 0 auto;
}

.card-event {
    position: relative;
    margin: 37px 10px;
}

.card-event:nth-child(n+7) {
    display: none;
    visibility: hidden;
}

.card-event-header img {
    width: 100%;
    height: 137px;
}

.card-event-header span {
    position: absolute;
    top: 4px;
    color: #ffffff;
    right: 0;
    background-color: #008d8d;
    border-radius: 5px 0 0 5px;
    width: 100px;
    height: 25px;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
 }

.card-event-title {
    color: #d52f5e;
    white-space: nowrap;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 13px 0 0 19px;
}

.card-event-body > * {
    margin: 8px 0;
}

.card-event-body-local p {
    margin: 0;
}

.card-event-body .card-event-body-local,
.card-event-body .card-event-body-date {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-event-body .fa,
.card-event-body .card-event-body-social-media .fa {
    color: #6d6d6d;
    font-size: 25px;
    margin-right: 8px;
}

@media (min-width: 768px) {
    .events-title {
        font-size: 48px;
    }

    .events-subtitle {
        font-size: 48px;
    }

    .events-description {
        font-size: 24px;
        padding: 0;
    }

    .card-event {
        display: inline-block;
        width: 49%;
    }
}

@media (min-width: 992px) {
    .card-event {
        width: 25%;
    }
}


/*PALESTRANTES*/
#highlighted-speakers {
    margin: 0 auto;
}

#highlighted-speakers .button-primary {
    display: inline-block;
    font-family: Roboto;
    font-size: 15px;
    text-align: center;
    color: #ffffff;
    padding: 13px 30px;
    border-radius: 15px;
    background-color: #1bb6c1;
}

#find-a-speaker h2, #find-a-speaker p {
    text-align: center;
}

.speakers-cards {
    padding: 0;
    margin: 0 0 48px 0;
}

.speaker-card {
    width: calc(100% - 20px);
    height: 540px;
    margin: 0 auto;
    border: solid 0.4px #000000;
    background-color: #ffffff;
}

.speaker-card + .speaker-card {
    margin-top: 10px;
}

.speaker-card:nth-child(3n-7) {
    background-color: #eaeaea;
}

.speaker-card img {
    display: block;
    width: 117px;
    height: 117px;
    margin: 10px auto;
    border: solid 6px #1bb6c1;
    border-radius: 50%;
}

.speaker-card h4 {
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #ba205a;
    margin: 10px 0;
}

.speaker-card-adress {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    color: #333333;
    margin: 10px 0;
}

.speaker-card-skills {
    font-family: Roboto;
    font-size: 24px;
    text-align: center;
    color: #ba205a;
    margin: 10px 0;
} 

.speaker-card-bio {
    font-family: Roboto;
    font-size: 16px;
    text-align: center;
    color: #030303;
    height: 126px;
    margin: 0 10px;
}

.speaker-card-labels i {
    color:  #1bb6c1;
}

.speakers-social-media {
    padding: 0;
    margin: 10px 0;
}

.speakers-social-media ul {
    display: table;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.speakers-social-media li {
    display: inline;
    width: 31px;
    height: 31px;
}

.speakers-social-media li + li {
    margin-left: 10px;
}

.speakers-tags label {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: solid 2px #1bb6c1;
}

.speakers-tags {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.speakers-tag label {
    font-family: 'roboto', Arial, sans-serif;
    width: 25%;
    height: 30px;
    cursor: pointer;
    color: #777;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    line-height: 33px;
    font-size: 19px;
    background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    float:left;
    box-shadow:
        0px 0px 0px 1px #aaa,
        1px 0px 0px 0px rgba(255,255,255,0.9) inset,
        0px 1px 2px rgba(0,0,0,0.2);
}

.speakers-tag input.selector-venus:checked ~ label.label-venus,
.speakers-tag input.selector-wheelchair:checked ~ label.label-wheelchair,
.speakers-tag input.selector-plane:checked ~ label.label-plane,
.speakers-tag input.selector-link:checked ~ label.label-link,
.speakers-tag input.selector-sign-language:checked ~ label.label-sign-language,
.speakers-tag input.selector-transgender:checked ~ label.label-transgender,
.speakers-tag input.selector-venus-mars:checked ~ label.label-venus-mars,
.speakers-tag input.selector-hand-rock-o:checked ~ label.label-hand-rock-o {
    background: linear-gradient(top, #646d93 0%,#7c87ad 100%);
    color: #424d71;
    text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
    box-shadow:
        0px 0px 0px 1px #40496e,
        0 1px 2px rgba(0,0,0,0.1) inset;
}

.speakers-tag input {
    display: none;
}

@media (min-width: 768px) {
    .speaker-card {
        display: inline-block;
        width: 50%;
    }
}

@media (min-width: 992px) {
    #highlighted-speakers {
        padding: 79px 170px;
    }

    .speaker-card + .speaker-card {
        margin-top: 0;
    }

    .speaker-card:nth-child(2) {
        margin-bottom: 10px;
    }

    .speaker-card:nth-child(3n-7) {
        margin-left: 10px;
        margin-right: 10px;
        background-color: #eaeaea;
    }

    .speaker-card-labels {
        margin: 10px 0;
    }

    .speaker-card {
        width: 32%;
    }
}


/*EQUIPE E COLABORADORES*/
#team-colaborators {
    position: relative;
    padding: 80px 10px;
    background-color: #eeeeee;
}

.team-colaborators-title {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    color: #BB1B58;
    padding-top: 65px;
    margin: 0;
}

.team-colaborators-cards {
    position: relative;
    padding: 0;
    margin: 20px auto;
}

.team-colaborators-card {
    width: 49%;
    display: inline-block;
    padding: 0;
}

.team-colaborators-card img {
    display: block;
    margin: 0 auto;
    width: 118px;
    height: 117px;
    border: solid 6px #f1b800;
    border-radius: 100%;
}

.team-colaborators-card h3 {
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #ba205a;
    margin: 0 8px;
}

.team-colaborators-card ul {
    display: table;
    padding: 0; 
    margin: 0 auto;
}

.team-colaborators-card li {
    display: inline-block;
    margin-bottom: 40px;
}

.team-colaborators-card li + li {
    margin-left: 10px;
}

.team-colaborators-card li a {
    font-size: 25px;
    color: #BB1B58;
    text-decoration: none;
}

@media (min-width: 992px) {
    #team-colaborators {
        padding: 79px 170px;
    }

    .team-colaborators-title {
        font-size: 48px;
    }

    .team-colaborators-card {
        width: 33%;
        display: inline-block;
        padding: 0;
    }
}


/*CÓDIGO DE CONDUTA*/

#code-of-conduct {
    width: 100%;
    height: 280px;
    background-color: #ba205a;
}

#code-of-conduct {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.code-of-conduct-download {
    ont-family: 'Roboto', sans-serif;
    font-size: 36px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    padding: 0 15px;
}

.code-of-conduct-download a {
    text-decoration: none;
    color: #D8DF42;
}

@media (min-width: 992px) {
    .code-of-conduct-download {
        font-size: 48px;
        padding: 0;
    }
}


/*PARCEIROS E APOIADORES*/
#partners-supporters {
    width: 100%;
    background-color: #eeeeee;
}

.partners-supporters-title {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    color: #BB1B58;
    padding: 40px 0 0 0;
    margin: 0;
}

.partners-supporters-links {
    padding: 0 0 50px 0;
    margin: 0;
}

.partners-supporters-links li {
    list-style: none;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
}

.partners-supporters-wannabe {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.partners-supporters-wannabe img {
    display: block;
    width: 100%;
    height: 305px;
}

.partners-supporters-wannabe div {
    position: absolute;
}

.partners-supporters-wannabe h3 {
    color: #ffffff;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0 6px 0 0;
}

.partners-supporters-wannabe p {
    color:  #ffffff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background: black;
}

.partners-supporters-form {
    height: 305px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ba205a;
    background-color: #ba205a;
}

.partners-supporters-form a {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color:  #ffffff;
    padding: 13px 65px;
    border: 2px solid #ffffff;
    border-radius: 15px;
}

@media (min-width: 992px) {
    .partners-supporters-title {
        font-size: 48px;
        padding-top: 80px;
    }

    .partners-supporters-links {
        padding: 85px 0;
    }

    .partners-supporters-links li {
        display: inline-block;
        width: 33%;
        margin-top: 0;
    }

    .partners-supporters-links li:nth-child(4) {
        margin-top: 40px;
    }

    .partners-supporters-box {
        width: 100%;
        height: 305px;
        display: flex;
    }

    .partners-supporter-wannabe h3 {
        font-size: 48px;
    }

    .partners-supporters-wannabe, .partners-supporters-form {
        width: 50%;
    }
}


/*INCLUIR PALESTRANTE*/
#include-speaker {
    position: fixed;
    width: 100%;
    height: 200px;
    background-color: #ba205a;
}

.include-speaker-title {
    padding-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
    color: #ffffff
}

.include-speaker-call {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
    padding-bottom: 20px;
}


/*INCLUIR EVENTO*/
#include-event {
    position: fixed;
    width: 100%;
    height: 200px;
    background-color: #ba205a;
}

.includ-event-title {
    padding-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
    color: #ffffff
}

.includ-event-call {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
    padding-bottom: 20px;
}


/*FOOTER*/
#footer {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    padding: 30px;
    background-color: #2f2f2f;
}

.footer-first {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo {
    width: 29px;
    height: 42px;
    margin-right: 14px
}

.footer-text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #ffffff;
    margin: 0;
}

.footer-menu-social {
    padding: 0;
    margin: 0;
}

.footer-menu-social li {
    display: block;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-top: 10px;
}

.footer-menu-social a {
    color: #ffffff;
    text-decoration: none;
}

.footer-social-media {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.footer-social-media a {
    color: #ffffff;
    list-style: none;
}

.footer-social-media li {
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.footer-social-media li + li {
    margin-left: 4px; 
}

@media (min-width: 992px) {
    #footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 290.3px;
        padding: 0 40px;
    }

    .footer-menu-social {
        display: flex;
        align-items: center;
    }

    .footer-menu-social li {
        display: flex;
        margin: 0;
    }

    .footer-menu-social > li + li:not(:last-child):before {
        content: '\2022';
        position: relative;
        margin: 0 10px;
    }

    .footer-social-media {
        display: flex;
        margin-left: 20px; 
    }
}

/*MODAL*/
#myBtn {
    background-color: #B2B222;
    color:  #ffffff;
    border: 2px solid #B2B222;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 15px 30px;
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


.close {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #ba205a;
    text-decoration: none;
    cursor: pointer;
}