@import url('https://fonts.googleapis.com/css?family=Roboto');

/*COMPONENTES BASICOS*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto;
}

li {
    list-style: none;
}

.google-form {
    height: 100vh;
    width: 100%;
}

/*CABECALHO*/
#header {
    padding: 5px 30px;
    background-color: #eeeeee;
}

.header-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-navbar-menu ul {
    margin-top: 25px;
}

.header-navbar-menu ul li {
    display: inline;
}

.header-navbar-menu ul li a {
    padding: 10px;
    font-size: 15px;
    font-family: Roboto;
}

.header-navbar-menu a:hover {
    color: #ba205a;
    cursor: pointer;
}

.header-social-media {
    padding-top: 7px;
}

.header-social-media li {
    display: inline;
    padding: 2px;
}

.header-social-media i.fa {
    font-size: 22px;
    color: #666666;
}

.search {
    text-align: center;
    width: 219px;
    height: 30px;
    margin-top: 17px;
    border: solid 1px #999999;
    border-radius: 10px;
    background-color: #ffffff;
}


/*BANNER*/
#banner{
    background-image: url("../imagens/campus.png");
    background-repeat: no-repeat;
    text-align: center;
    height: 100vh;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
  height: 47px;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.sub-title {
    font-size: 20px;
    padding-bottom: 20px;
}

.button-primary {
    border: 1px solid #2AC2F5;
    border-radius: 15px;
    cursor: pointer;    
    font-size: 15px;
    padding: 13px 65px;
    background: #2AC2F5;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}


/*EVENTOS*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.events {
    position: relative;
    padding-bottom: 60px;
}

.events ul {
    padding: 0;
    position: relative;
}

.events:after {
    clear: both
}

.events:before, .events:after {
    content: "";
    display: inline;
}

.events input[type=checkbox] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.events label[for="load_more"] {
    left: 50%;
    bottom: 30px;
    margin: 0;
    position: absolute;
    transform: translateX(-50%);
}

.events label[for="load_more"] span:last-of-type {
    display: none;
    visibility: hidden;
}

.events input[type=checkbox]:checked ~ ul li {
    display: inline-block;
    visibility:visible;
}

.events input[type=checkbox]:checked ~ [for="load_more"] span:first-of-type {
    display: none;
    visibility: hidden;
}

.events input[type=checkbox]:checked ~ [for="load_more"] span:last-of-type {
    visibility: visible;
    display:block
}

.events .button-primary {
    color: white;
    background: #d6de23;
    border: 1px solid #d6de23;
    border-radius: 15px;
    cursor: pointer;
    padding: 13px 65px;
    margin: 0 auto;
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
}

.events .button-secondary {
    color: #1bb6c1;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #1bb6c1;
    border-radius: 15px;
    cursor: pointer;
    padding: 13px 65px;
    width: 233px;
    margin: 70px auto 0 auto;
    display: block;
    text-transform: uppercase;
}

.events-title {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
    color: #333333;
    padding: 65px 0;
    margin: 0;
}

.events-subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
    color: #BB1B58;
    margin: 65px 0 30px 0;
}

.events-description {
    max-width: 823px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    color: #030303;
    margin: 0 auto;
}

.card-event {
    position: relative;
    display: inline-block;
    margin: 37px 10px;
    width: 25%;
}

.card-event:nth-child(n+7) {
    display: none;
    visibility: hidden;
}

.card-event-header img {
    width: 100%;
    height: 137px;
}

.card-event-header span {
    position: absolute;
    top: 4px;
    color: #ffffff;
    right: 0;
    background-color: #008d8d;
    border-radius: 5px 0 0 5px;
    width: 100px;
    height: 25px;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
 }

.card-event-title {
    color: #d52f5e;
    white-space: nowrap;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 13px 0 0 19px;
}

.card-event-body > * {
    margin: 8px 0;
}

.card-event-body-local p {
    margin: 0;
}

.card-event-body .card-event-body-local,
.card-event-body .card-event-body-date {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-event-body .fa,
.card-event-body .card-event-body-social-media .fa {
    color: #6d6d6d;
    font-size: 25px;
    margin-right: 8px;
}


/*EQUIPE E COLABORADORES*/
#team-colaborators {
    position: relative;
    padding: 79px 170px;
    background-color: #eeeeee;
}

.team-colaborators-title {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
    color: #BB1B58;
    padding-top: 65px;
    margin: 0;
}

.team-colaborators-cards {
    padding: 0;
    margin: 20px auto;
}

.team-colaborators-card {
    width: 33%;
    display: inline-block;
    padding: 0;
}

.team-colaborators-card img {
    display: block;
    margin: 0 auto;
    width: 118px;
    height: 117px;
    border: solid 6px #f1b800;
    border-radius: 100%;
}

.team-colaborators-card h3 {
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #ba205a;
    margin: 0 8px;
}

.team-colaborators-card ul {
    display: table;
    padding: 0; 
    margin: 0 auto;
}

.team-colaborators-card li {
    display: inline-block;
    margin-bottom: 40px;
}

.team-colaborators-card li + li {
    margin-left: 10px;
}

.team-colaborators-card li a {
    font-size: 25px;
    color: #BB1B58;
    text-decoration: none;
}


/*CÓDIGO DE CONDUTA*/

#code-of-conduct {
    width: 100%;
    height: 280px;
    background-color: #ba205a;
}

#code-of-conduct {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.code-of-conduct-download {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
}

.code-of-conduct-download a {
    text-decoration: none;
    color: #D8DF42;
}


/*PARCEIROS E APOIADORES*/
#partners-supporters {
    background-color: #eeeeee;
    width: 100%;
}

.partners-supporters-title {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
    color: #BB1B58;
    padding-top: 65px;
    margin: 0;
}

.partners-supporters-links {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 144px;
}

.partners-supporters-links li {
    width: 33%;
    text-align: center;
    list-style: none;
    text-decoration: none;
    display: inline-block;
    margin-top: 100px;
}

.partners-supporters-links a {
    margin: 50px;
    padding: 50px;
}

.partners-supporters-box {
    width: 100%;
    height: 305px;
    display: flex;
}

.partners-supporters-wannabe {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.partners-supporters-wannabe img {
    display: block;
    width: 100%;
    height: 305px;
}

.partners-supporters-wannabe p {
    color:  #ffffff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    background: black;
    text-align: center;
}

.partners-supporters-wannabe h3 {
    color: #ffffff;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 6px;
}

.partners-supporters-wannabe div {
    position: absolute;
}

.partners-supporters-form {
    height: 305px;
    width: 50%;
    background: #ba205a;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.partners-supporters-form a {
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    color:  #ffffff;
    border: 2px solid #ffffff;
    border-radius: 15px;
    text-transform: uppercase;
    padding: 13px 65px;
}


/*INCLUIR PALESTRANTE*/
#include-speaker {
    position: fixed;
    width: 100%;
    height: 200px;
    background-color: #ba205a;
}

.include-speaker-title {
    padding-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
    color: #ffffff
}

.include-speaker-call {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
    padding-bottom: 20px;
}


/*INCLUIR EVENTO*/
#include-event {
    position: fixed;
    width: 100%;
    height: 200px;
    background-color: #ba205a;
}

.includ-event-title {
    padding-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
    color: #ffffff
}

.includ-event-call {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
    padding-bottom: 20px;
}


/*FOOTER*/
#footer {
    height: 290.3px;
    background-color: #2f2f2f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    padding: 0 40px;
}

.footer-first {
    display: flex;
    align-items: center;
}

.footer-menu-social {
    padding: 0;
}

.footer-menu-social li {
    list-style: none;
    display: inline-flex;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-left: 10px;
}

.footer-menu-social > li + li:not(:last-child):before {
    content: '\2022';
    position: relative;
}

.footer-menu-social a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 10px;
}

.footer-text {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

.footer-logo {
    width: 29px;
    height: 42px;
    margin-right: 14px
}

.footer-social-media {
    padding: 5px;
}

.footer-social-media a {
    color: #ffffff;
    list-style: none;
}

.footer-social-media ul {
    list-style: none;
    display: inline-flex;
    text-decoration: none;
}

.footer-social-media li {
    list-style: none;list-style: none;
    display: inline-flex;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-left: 4px;
}

.footer-social-media .footer-menu {
    align-items: flex-end;
}


/*MODAL*/
#myBtn {
    background-color: #B2B222;
    color:  #ffffff;
    border: 2px solid #B2B222;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 15px 30px;
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


.close {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #ba205a;
    text-decoration: none;
    cursor: pointer;
}
