---
layout: default
---

<!-- BANNER -->
<section id="banner" class="banner-comunidades">
  <div class="banner-content">

    <h2 class="page-banner-title">Tecnologia para o bem</h2>

    <div class="page-banner-subtitle">
      <p>Um novo relatório analisa a demografia das chamadas "organizações sem fins lucrativos".</p>
    </div>

    <a class="button-banner" href="https://www.fastcompany.com/40554684/the-next-wave-of-tech-for-good-companies-are-being-built-by-women-and-minorities" rel="noopener" target="_blank">Ver relatório</a>
  </div>
</section>

<!-- EVENTOS -->
<section class="page-section">
  <h1 class="page-section-title">Sobre comunidades</h1>

  <p class="page-section-text">
    O Codamos está comprometido a dar destaque aos grupos e comunidades que prezem pela inclusão, diversidade e
    acessibilidade. Listamos as comunidades inclusivas com seus canais e redes abaixo:
  </p>

  <ul class="icon-labels">
    {% for icon_data in site.data.community_icons %}
      {% assign icon = icon_data[1] %}
      <li class="communities-section-label">
        <i class="{{ icon.class }}" aria-hidden="true"></i> = {{ icon.label }}
      </li>
    {% endfor %}
  </ul>

</section>

<!-- COMUNIDADES -->
<section class="page-section">
  <h1 class="page-section-subtitle-alt">Grupos e comunidades</h1>

  <ul class="communities-cards">
    {% include communities.html communities=site.data.communities %}
  </ul>

  <a class="page-section-social-facebook" target="_blank" rel="noopener" href="https://www.facebook.com/codamosclub">
    <i class="fab fa-3x fa-facebook-f" aria-hidden="true"></i>
    <p>Siga nossa página no facebook e saiba de outras comunidades e eventos!</p>
  </a>
</section>

<!-- INCLUIR EVENTO -->
<section id="include-event" class="page-section-purple">
  <h2 class="include-event-title">Inclua um grupo!</h2>

  <p class="include-event-call">
    Quer divulgar <span class="text-uppercase">gratuitamente</span> um grupo com foco em diversidade, acessibilidade e/ou inclusão? Vem para o Codamos!
  </p>

  <a class="button-default-outline" href="/meu-evento" target="_blank">Incluir</a>
</section>
