---
layout: default
---
<!-- BANNER -->
<section id="banner" class="banner-eventos">
  <h2 class="page-section-title">Front in Vale busca palestrantes!</h2>

  <p class="page-section-text">
    O Evento Front in Vale está com Call4papers aberto e busca preencher o slot de lightning talks com palestrantes femininas/trans, diversidade e acessibilidade.
    O Front in Vale vai acontecer dia 16/10/2017 em São Paulo.
  </p>

  <a class="button-banner" href="http://frontinvale.com.br/" target="_blank">Saiba mais</a>
</section>

<!-- EVENTOS -->
<section class="page-section events-section">
  <h1 class="page-section-subtitle">Sobre os eventos</h1>

  <p class="page-section-text">
    Nossa plataforma está em constante crescimento para que cada vez mais possamos ter diversidade, inclusão e acessibilidade, por isso, você encontra uma legenda nos eventos e poderá checar se têm incentivo e desconto para público feminino, código de conduta, acesso e rampas para cadeirantes, tradução para libras, evento gratuito ou aberto para todos os públicos.
    Da uma olhada o que significa cada ícone:
  </p>

  <ul class="events-ico">
    {% for icon in site.data.event_icons %}
    <li><i class="fa fa-{{ icon[0] }}" aria-hidden="true"></i> {{ icon[1] }}</li>
    {% endfor %}
  </ul>
</section>

{% include add_event.html %}

<!-- EVENTOS -->
<section class="page-section events-section">
  <h1 class="page-section-subtitle">O que vem pela frente</h1>

  <ul class="events-cards events-cards-load-more">
    {% include events.html events=site.data.events %}
  </ul>
</section>

<!-- EVENTOS PASSADOS -->
<section class="page-section events-section">
  <h1 class="page-section-subtitle">O que já aconteceu</h1>

  <ul class="events-cards events-cards-load-more events-cards-past">
    {% include events.html events=site.data.past_events %}
  </ul>
</section>

{% include code_of_conduct.html %}
