---
layout: default
---
<!-- BANNER -->
<section id="banner" class="banner-eventos">
  <div class="banner-content">
    <h2 class="page-banner-title">SENAI Code Experience</h2>

    <p class="page-section-text">
      Quer começar em TI? No SENAI Code Experience você tem 4 opções de cursos de programação GRATUITOS <3
    </p>

    <a class="button-banner" href="https://codexp.sp.senai.br/" target="_blank">Saiba mais</a>
  </div>
</section>

<!-- EVENTOS -->
<section class="page-section">
  <h1 class="page-section-title">Sobre os eventos</h1>

  <p class="page-section-text">
    O Codamos está comprometido a dar destaque a eventos que prezem pela inclusão, diversidade e
    acessibilidade. Criamos rótulos para facilitar a busca por eventos que têm ícones representados
    pelas legendas abaixo:
  </p>

  <ul class="icon-labels">
    {% for icon in site.data.event_icons %}
    <li class="events-section-label">
      <i class="fa fa-{{ icon[0] }}" aria-hidden="true"></i> {{ icon[1] }}
    </li>
    {% endfor %}
  </ul>
</section>

<!-- EVENTOS -->
<section class="page-section">
  <h1 class="page-section-subtitle-alt">O que vem pela frente</h1>

  <ul class="events-cards">
    {% include events.html events=site.data.events %}
  </ul>
</section>

{% include add_event.html %}

<!-- EVENTOS PASSADOS -->
<section class="page-section">
  <h1 class="page-section-subtitle-alt">O que já aconteceu</h1>

  <ul class="events-cards events-cards-past">
    {% include events.html events=site.data.past_events %}
  </ul>
</section>

{% include code_of_conduct.html %}
