---
layout: default
---
<!-- BANNER -->
<section id="banner" class="banner-index">
  <div class="banner-content">

    <h2 class="page-banner-title">Brazil JS SP</h2>

    <div class="page-banner-subtitle">
      <p>O maior evento do Brasil vai trazer sua versão On the road pra São Paulo!</p>
    </div>

    <a class="button-banner" href="https://braziljs.org/eventos/otr-on-the-road-sao-paulo/2019/" rel="noopener" target="_blank">Veja a agenda</a>
  </div>
</section>

<!-- EVENTOS -->
<section class="page-section">
  <h1 class="page-section-subtitle-alt">Onde estão os eventos de tecnologia inclusivos e diversos?</h1>


    <p class="page-section-text">
    Somos uma vitrine de <a href="/eventos">eventos</a>, meetups, cursos, workshops,
    palestras e palestrantes, aqui, você pode achar eventos inclusivos.
    Nosso propósito é descomplicar a comunicação entre quem organiza e quem quer participar de eventos.
    As pessoas são nossa essência, estão em primeiro lugar e fazemos o nosso melhor para reconhecer,
    valorizar e respeitar a pluralidade.
  </p>

  <img src="images/logo.png" alt="Logotipo Codamos">

  <p class="page-section-text">
    O objetivo do Codamos é promover eventos com foco em ser um espaço seguro para todas as pessoas.
    <br>
    Aqui você encontra informações relevantes sobre eventos pelo Brasil e pode facilmente escolher o
    mais adequado ao seu perfil. <!-- Faça parte do Codamos, envie seu evento inclusivo para ser cadastrado e nos ajude a mudar a vida das pessoas que querem participar de uma comunidade de tecnologia mais diversa. -->
  </p>

  <h1 class="page-section-title">Não da pra perder!</h1>

  <ul class="events-cards">
    {% assign highlights = site.events | where:"highlight",true | sort: "from" %}
    {% for event in highlights %}
      {% include event.html event=event %}
    {% endfor %}
  </ul>

  <a class="button-primary-outline" href="/eventos">Veja todos os eventos</a>
</section>

<section class="page-section">

  <p class="page-section-text">
    Observando a comunidade tecnológica brasileira, conseguimos perceber que existe uma lacuna de onde
    concentrar todas as informações de eventos, workshops, palestras, cursos e oportunidades de
    networking pelo Brasil reunidas um lugar só. Existem muitas plataformas onde podemos criar eventos,
    mas poucas selecionam os que querem ter ou já tem inclusão e diversidade. Além disso, são poucos os que preocupam em
    divulgar e incentivar a inclusão, diversidade e a acessibilidade. Essa é a razão pela qual criamos o Codamos.
  </p>

  <p class="page-section-text">
    <a href="/quem-somos">Conheça a nossa história.</a>
  </p>

</section>

  {% include tweet-event.html %}

<!-- PALESTRANTES -->
<section id="speakers">
  <div class="page-section">
    <h1 class="page-section-title">Pessoas que querem colaborar com a comunidade:</h1>

    <ul class="speakers-cards">
      {% assign speakers = site.data.speakers | where:"highlight",true %}
      {% include speakers.html speakers=speakers %}
    </ul>

    <a class="button-primary-outline" href="/pessoas">Veja todas as pessoas</a>
  </div>
</section>

