---
layout: default
icons:
  female: venus
  site: link
  trans: transgender-alt
  black: hand-rock-o
---
<!-- BANNER -->
<section id="banner" class="banner-palestrantes">
  <h2 class="page-section-title">ReactConf busca palestrantes!</h2>

  <p class="page-section-text">
    Mais um Call4papers aberto buscando diversidade e dar espaco para mulheres.
    Vamos perder o medo do palco?
    A ReactConf vai acontecer dia 17/10/2017 em São Paulo.
  </p>
  <a class="button-banner" href="http://reactconfbr.com.br/" target="_blank">Saiba mais</a>
</section>

<!-- PALESTRANTES -->
<section class="page-section events-section">
  <h1 class="page-section-subtitle">Sobre palestrantes</h1>

  <p class="page-section-text">
    Nossa plataforma está em constante crescimento para que cada vez mais possamos ter diversidade, inclusão e acessibilidade, por isso, você encontra uma legenda em cada pessoa que quer palestrar e poderá checar os grupos de diversidade que cada um faz parte.
    Da uma olhada o que significa cada coisa:
  </p>

  <ul class="events-ico">
    <li><i class="fa fa-venus" aria-hidden="true"></i> Mulheres em TI</li>
    <li><i class="fa fa-hand-rock-o" aria-hidden="true"></i> Comunidade negra</li>
    <li><i class="fa fa-transgender-alt" aria-hidden="true"></i> Trans</li>
    <li><img src="images/lgbt.png"> LGBTQI+</li>
    <li><i class="fa fa-child" aria-hidden="true"></i> Mães em TI</li>
    <li><i class="fa fa-wheelchair-alt" aria-hidden="true"></i> Pessoa com deficiência e/ou mobilidade reduzida.</li>
    <li><i class="fa fa-deaf" aria-hidden="true"></i> Pessoa com deficiência auditiva</li>
    <li><i class="fa fa-blind" aria-hidden="true"></i> Pessoa com deficiência visual</li>
  </ul>
</section>

{% include add_speaker.html %}

<section id="speakers">
  <div class="page-section">
    <h1 class="page-section-subtitle">Pessoas que querem palestrar</h1>

    <ul class="speakers-cards">
      {% for speaker in site.data.speakers %}
      <li class="speaker-card">
        <img src="images/fotos/{{ speaker.avatar }}" alt="{{ speaker.name }}"/>
        <h3 class="pink">{{ speaker.full_name | default: speaker.name }}</h3>
        <p class="speaker-card-address">{{ speaker.location }}</p>
        <div class="speaker-card-labels">
          {% for label in speaker.labels %}
          <span class="label-{{ label }}"><i class="fa fa-{{ page.icons[label] }} fa-2x" aria-hidden="true"></i></span>
          {% endfor %}
        </div>
        <h4 class="speaker-card-skills">
          {% for skill in speaker.skills %}
          #{{ skill }}
          {% endfor %}
        </h4>
        <p class="speaker-card-bio">
          {{ speaker.bio }}
        </p>
        <ul class="speaker-card-social-media">
          {% if speaker.linkedin %}
          <li>
            <a href="https://www.linkedin.com/in/{{ speaker.linkedin }}/"><i
               class="fa fa-linkedin-square fa-2x grey" aria-hidden="true"></i></a>
          </li>
          {% endif %}

          {% if speaker.twitter %}
          <li>
            <a href="https://twitter.com/{{ speaker.twitter }}"><i
               class="fa fa-twitter-square fa-2x grey" aria-hidden="true"></i></a>
          </li>
          {% endif %}

          {% if speaker.github %}
          <li>
            <a href="https://github.com/{{ speaker.github }}"><i
               class="fa fa-github-square fa-2x grey" aria-hidden="true"></i></a>
          </li>
          {% endif %}
        </ul>
        <a class="button-primary">Entrar em contato</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>

{% include code_of_conduct.html %}
