---
layout: default
---
<!-- BANNER -->
<section id="banner" class="banner-palestrantes">
  <h2 class="page-section-title">ReactConf busca palestrantes!</h2>

  <p class="page-section-text">
    Mais um Call4papers aberto que busca por diversidade e mais espaço para mulheres.
    Vamos perder o medo do palco?
    ReactConf acontecerá 17 de outubro em São Paulo.
  </p>

  <a class="button-banner" href="http://reactconfbr.com.br/" target="_blank">Saiba mais</a>
</section>

<!-- PALESTRANTES -->
<section class="page-section events-section">
  <h1 class="page-section-subtitle">Sobre palestrantes</h1>

  <p class="page-section-text">
    Nossa plataforma está em constante crescimento para que cada vez mais possamos ter diversidade, inclusão e acessibilidade. Por isso, você encontra uma legenda em cada pessoa que quer palestrar e poderá checar os grupos de diversidade que fazem parte:
  </p>

  <ul class="icon-labels">
    {% for icon in site.data.speaker_icons %}
    <li class="speakers-section-label">
      <i class="fa fa-{{ icon[0] }}" aria-hidden="true"></i> {{ icon[1] }}
    </li>
    {% endfor %}
    <li class="speakers-section-label lgbt-label">
      <img src="images/lgbt.png" alt="LGBTQI+"> LGBTQI+
    </li>
  </ul>
</section>

{% include add_speaker.html %}

<section id="speakers">
  <div class="page-section">
    <h1 class="page-section-subtitle">Pessoas que querem palestrar</h1>

    <ul class="speakers-cards">
      {% include speakers.html speakers=site.data.speakers %}
    </ul>
  </div>
</section>

{% include code_of_conduct.html %}
