---
layout: default
icons:
  female: venus
  site: link
  trans: transgender-alt
  black: hand-rock-o
---
<!-- BANNER -->
<section id="banner">
  <h1 class="page-section-title">WebBr 2017: W3C vai abordar inclusão.</h1>

  <p class="page-section-text">
    O Evento WebBr 2017 vai abordar inclusão e sentidos.
    Podemos contar com uma grande discursão e apoio para acessibilidade.
    O WebBr vai acontecer dia 24 e 25/10/2017 em São Paulo.
  </p>
  <a class="button-primary" href="http://conferenciaweb.w3c.br/" target="_blank">Faça sua inscrição</a>
</section>

<!-- PALESTRANTES -->
<section id="events" class="page-section page-section-white-four">
  <h2 class="page-section-subtitle pink">Legendas</h2>

  <p class="page-section-text">
    No Codamos a gente categoriza os eventos com foco em diversidade, acessibilidade, inclusão e outras legendas.
    Se um evento tem icones, significa que esse evento possui inclusão, é gratuito, tem incentivo para o público feminino etc.<br>
    Da uma olhada o que significa cada coisa:
  </p>

  <ul class="events-ico">
    <li><i class="fa fa-venus" aria-hidden="true"></i> - incentivo e desconto para público feminino</li>
    <li><i class="fa fa-cc" aria-hidden="true"></i> - código de conduta</li>
    <li><i class="fa fa-wheelchair-alt" aria-hidden="true"></i> - acesso e rampas para cadeirantes</li>
    <li><i class="fa fa-sign-language" aria-hidden="true"></i> - tradução para libras</li>
    <li><i class="fa fa-universal-access" aria-hidden="true"></i> - para todos os públicos</li>
    <li><i class="fa fa-ticket" aria-hidden="true"></i> - evento gratuito</li>
  </ul>
</section>

<!-- INCLUIR PALESTRANTE -->
<section id="include-speaker" class="page-section-pink">
  <h2 class="include-speaker-title">Inclua um Palestrante!</h2>

  <p class="include-speaker-call">
    Faça parte da equipe de palestrantes mais incríveis do Brasil.
  </p>

  <a class="button-default-outline modal-button">Incluir Palestrante</a>

  <div class="modal">
    <div class="modal-content">
      <span class="modal-close">&times;</span>
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdjGJTTAK1w19vxz4rRO7UsUKL_zalrqB7YxXEO1w2EQ3IncA/viewform?embedded=true" height="500" style="width: 100%;" frameborder="0" marginheight="0" marginwidth="0">
        Carregando…
      </iframe>
    </div>
  </div>

  <script>
    var modal = document.getElementsByClassName('modal')[0];
    var button = document.getElementsByClassName("modal-button")[0];
    var span = document.getElementsByClassName("modal-close")[0];

    button.onclick = function() {
      modal.style.display = "block";
    }

    span.onclick = function() {
      modal.style.display = "none";
    }

    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>
</section>

<section id="speakers" class="page-section page-section-white-four">
  <h2 class="page-section-subtitle pink">Pessoas que querem palestrar em eventos</h2>

  <ul class="speakers-cards">
    {% for speaker in site.data.speakers %}
    <li class="speaker-card">
      <img src="images/fotos/{{ speaker.avatar }}" alt="{{ speaker.name }}"/>
      <h4 class="pink title-large">{{ speaker.full_name | default: speaker.name }}</h4>
      <p class="speaker-card-address">{{ speaker.location }}</p>
      <div class="speaker-card-labels">
        {% for label in speaker.labels %}
        <span class="label-{{ label }}"><i class="fa fa-{{ page.icons[label] }} fa-2x" aria-hidden="true"></i></span>
        {% endfor %}
      </div>
      <p class="speaker-card-skills">
        {% for skill in speaker.skills %}
        #{{ skill }}
        {% endfor %}
      </p>
      <p class="speaker-card-bio">
        {{ speaker.bio }}
      </p>
      <ul class="speaker-card-social-media">
        {% if speaker.linkedin %}
        <li>
          <a href="https://www.linkedin.com/in/{{ speaker.linkedin }}/"><i
             class="fa fa-linkedin-square fa-2x grey" aria-hidden="true"></i></a>
        </li>
        {% endif %}

        {% if speaker.twitter %}
        <li>
          <a href="https://twitter.com/{{ speaker.twitter }}"><i
             class="fa fa-twitter-square fa-2x grey" aria-hidden="true"></i></a>
        </li>
        {% endif %}

        {% if speaker.github %}
        <li>
          <a href="https://github.com/{{ speaker.github }}"><i
             class="fa fa-github-square fa-2x grey" aria-hidden="true"></i></a>
        </li>
        {% endif %}
      </ul>
      <a class="button-primary">Entrar em contato</a>
    </li>
    {% endfor %}
  </ul>
</section>

<!-- CÓDIGO DE CONDUTA -->
<section id="code-of-conduct" class="page-section-black-four">
  <p>
    Conheça nosso <a href="codigo-de-conduta-codamos.pdf" target="_blank">Código de Conduta</a>.
  </p>
</section>
