---
layout: default
---
<!-- BANNER -->

<section id="banner" class="banner-eventos">
  <div class="banner-content">
    <h2 class="page-banner-title">Help4papers</h2>

    <div class="page-banner-subtitle">
      <p>Tem vontade de palestrar? Essa galera pode te ajudar tirando dúvidas e dando feedbacks!</p>
    </div>

    <a class="button-default-outline" href="http://help4papers.com.br/" rel="noopener" target="_blank">Conheça o projeto</a>
  </div>
</section>

<!-- PALESTRANTES -->
<section class="page-section">
  <h1 class="page-section-title">Palestrantes, mentoras(es) e vonlutárias(os)</h1>

  <p class="page-section-text">
    Nossa plataforma está em constante crescimento para que cada vez mais possamos ter diversidade,
    inclusão e acessibilidade. Por isso, você encontra uma legenda em cada pessoa que quer palestrar,
    fazer mentoria ou trabalho voluntário na comunidade, conhecendo os grupos
    de diversidade que fazem parte:
  </p>

  <ul class="icon-labels">
    {% for icon_data in site.data.speaker_icons %}
      {% assign icon = icon_data[1] %}
      <li class="speakers-section-label">
        <i class="{{ icon.class }}" aria-hidden="true"></i> = {{ icon.label }}
      </li>
    {% endfor %}
  </ul>
</section>

<section id="speakers">
  <div class="page-section">
    <h1 class="page-section-subtitle-alt">Pessoas que querem:</h1>

    <ul class="speakers-cards">
      {% include speakers.html speakers=site.data.speakers %}
    </ul>

    <a href="https://trainingcenter.io/" target="_blank">
      <div class="page-section-social-tc">
        <img src="images/apoiadores/trainingcenter.png" width="80" />
        <p>No Training Center você acha mentores e grupos de estudo!</p>
      </div>
    </a>
  </div>
</section>

<!-- INCLUIR PALESTRANTE -->
<section id="include-speaker" class="page-section-blue">
  <h2 class="include-speaker-title">Quer palestrar, fazer voluntariado ou mentoria?</h2>

  <p class="include-speaker-call">
    Nos ajude a incluir diversidade nos eventos mostrando seu interesse!
  </p>

  <a class="button-default-outline" href="/sou-palestrante" target="_blank">Cadastre-se no Codamos</a>
</section>
