---
layout: default
---

<section id="banner" class="banner-podcast">
  <div class="banner-content">
    <h2 class="page-banner-title">O podcast é delas</h2>

    <div class="page-banner-subtitle">
      <p>#podcastedelas2018 no mundo do podcast pra dar visibilidade as mulheres nesta área!</p>
    </div>

    <a class="button-default-outline" href="https://twitter.com/hashtag/OPodcastEDelas?src=hash" rel="noopener" target="_blank">Siga a hastag</a>
  </div>
</section>

<section class="page-section">
  <h1 class="page-section-subtitle-alt">Sobre Podcast</h1>

  <p class="page-section-text">
    Listamos os podcasts que abordam tecnologia e alguns deles são bem inclusivos e citando o tema diversidade ou acessibilidade em TI. Criamos rótulos para facilitar a busca pelos que têm ícones representados
    nas legendas abaixo:
  </p>

  <ul class="icon-labels">
    {% for icon_data in site.data.podcast_icons %}
      {% assign icon = icon_data[1] %}
      <li class="podcast-section-label">
        <i class="{{ icon.class }}" aria-hidden="true"></i> = {{ icon.label }}
      </li>
    {% endfor %}
  </ul>
</section>

<section class="page-section">
  <h1 class="page-section-title">Podcast que indicamos</h1>

  <ul class="events-cards">
    {% include podcasts.html podcasts=site.data.podcasts %}
  </ul>
</section>

<section id="include-event" class="page-section-purple">
  <h2 class="include-event-title">Inclua um Podcast!</h2>

  <p class="include-event-call">
    Quer divulgar <span class="text-uppercase">gratuitamente</span> um podcast que fale de tecnologia, diversidade, acessibilidade e/ou inclusão?
  </p>

  <a class="button-default-outline" href="https://twitter.com/CodamosClub" target="_blank">Mande um tuite com o podcast</a>
</section>
