---
layout: default
---

<section id="banner" class="banner-podcast">
  <div class="banner-content">
    <h2 class="page-banner-title">O podcast é delas</h2>

    <div class="page-banner-subtitle">
      <p>#podcastedelas2018 no mundo do podcast pra dar visibilidade as mulheres nesta área!</p>
    </div>

    <a class="button-banner" href="https://twitter.com/hashtag/OPodcastEDelas?src=hash" rel="noopener" target="_blank">Siga a hastag</a>
  </div>
</section>

<section class="page-section">
  <h1 class="page-section-subtitle-alt">Sobre Conteúdo gratuito</h1>

  <p class="page-section-text">
    Listamos conteúdos gratuitos que abordam tecnologia e programacão. Alguns deles são bem inclusivos e citando o tema diversidade ou acessibilidade em TI. Criamos rótulos para facilitar a busca pelos que têm ícones representados
    nas legendas abaixo:
  </p>

  <ul class="icon-labels">
    {% for icon_data in site.data.podcast_icons %}
      {% assign icon = icon_data[1] %}
      <li class="podcast-section-label">
        <i class="{{ icon.class }}" aria-hidden="true"></i> = {{ icon.label }}
      </li>
    {% endfor %}
  </ul>
</section>

<section class="page-section">
  <h1 class="page-section-title">Para ouvir</h1>

  <ul class="events-cards">
    {% include podcasts.html podcasts=site.data.podcasts %}
  </ul>
</section>

<section class="page-section">
  <h1 class="page-section-title">Para ver</h1>

  <ul class="events-cards">
    {% include podcasts.html videos=site.data.videos %}
  </ul>
</section>

<section class="page-section">
  <h1 class="page-section-title">Para ler</h1>

  <ul class="events-cards">
    {% include podcasts.html blog=site.data.blog %}
  </ul>
</section>

