---
layout: default
---

<section id="banner" class="banner-podcast">
  <div class="banner-content">
    <h2 class="page-banner-title">Banco de talentos</h2>

    <div class="page-banner-subtitle">
      <p>O grupo Todas as letras quer divulgar talentos LGBTI+ para o mercado de trabalho!</p>
    </div>

    <a class="button-banner" href="https://www.todasasletras.org/" rel="noopener" target="_blank">Saiba mais</a>
  </div>
</section>

<section class="page-section">
  <h1 class="page-section-subtitle-alt">Sobre ouvir, ver e ler!</h1>

  <p class="page-section-text">
    Listamos podcasts e canais que abordam tecnologia e alguns deles são bem inclusivos, citando o tema diversidade ou acessibilidade em TI. Criamos rótulos para facilitar a busca pelos que têm ícones representados
    nas legendas abaixo:
  </p>

  <ul class="icon-labels">
    {% for icon_data in site.data.podcast_icons %}
      {% assign icon = icon_data[1] %}
      <li class="podcast-section-label">
        <i class="{{ icon.class }}" aria-hidden="true"></i> = {{ icon.label }}
      </li>
    {% endfor %}
  </ul>

  <h1 class="page-section-title">Nossas indicações</h1>

  <ul class="events-cards">
    {% assign podcast_highlights = site.data.podcasts | where:"highlight",true %}
    {% include podcasts.html podcasts=podcast_highlights %}

    {% assign channel_highlights = site.data.channels | where:"highlight",true %}
    {% include channels.html channels=channel_highlights %}
  </ul>
</section>


<section class="page-section">
  <h1 class="page-section-title">Podcast sobre tecnologia</h1>

  <ul class="events-cards">
    {% include podcasts.html podcasts=site.data.podcasts %}
  </ul>
</section>

<section class="page-section">
  <h1 class="page-section-title">Canais de tecnologia</h1>

  <ul class="events-cards">
    {% include channels.html channels=site.data.channels %}
  </ul>
</section>

