---
layout: default
---
<!-- BANNER -->
<section id="banner" class="banner-quem-somos">
  <h2 class="page-section-title">Vários textos no Medium.</h2>

  <p class="page-section-text">
    Siga nosso conteúdo, comente e compartilhe! Estamos começando e prometemos falar sobre assuntos que poucos tem coragem de abordar. Corre e da uma lida ;)
  </p>

  <a class="button-banner" href="https://medium.com/codamos" target="_blank">Textões que valem ler</a>
</section>

<!-- QUEM SOMOS TOPO -->
<section class="page-section events-section">
  <h1 class="page-section-subtitle">Sobre o Codamos</h1>

  <p class="page-section-text">
    Somos uma plataforma sem fins lucrativos que recebe contribuições de todos que compartilham
    nossos objetivos e querem colaborar de maneira saudável e construtiva dentro do nosso
    ecossistema tecnológico. Portanto, as pessoas são nossa essência, estão em primeiro lugar e
    fazemos o nosso melhor para reconhecer, valorizar e respeitar a pluralidade.
  </p>

  <p class="page-section-text">
    Queremos descomplicar a comunicação entre quem organiza <a href="/eventos">eventos</a> e quem
    quer participar, seja como palestrante ou oferecendo workshops e
    cursos, seja como espectador.
    Somos como uma vitrine de eventos, meetups e <a href="/palestrantes">palestrantes</a>.
    Você pode ver e cadastrar seus eventos, indicar palestrantes pra aparecer por aqui, entrar em contato com todos.
  </p>

  <p class="page-section-text">
    Somos uma equipe formada por pessoas de diversos backgrounds, formação e profissões ligadas
    à tecnologia.
  </p>

  <img src="images/logo.png" alt="Logotipo Codamos">
</section>

<!-- EQUIPE E COLABORADORES -->
<section id="team-collaborators" class="page-section">
  <h1 class="page-section-subtitle">Nossa Equipe e Colaboradores</h1>

  <ul class="team-collaborators-cards">
    {% for collaborator in site.data.collaborators %}
    <li class="team-collaborators-card">
      <img src="images/fotos/{{ collaborator.avatar }}" alt="{{ collaborator.name }}"/>
      <h3>{{ collaborator.name }}</h3>
      <ul>
        <li>
          {% if collaborator.twitter %}
          <a href="https://twitter.com/{{ collaborator.twitter }}" title="Twitter"
          target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          {% else %}
          <i class="fa fa-twitter" aria-hidden="true"></i>
          {% endif %}
        </li>
        <li>
          {% if collaborator.facebook %}
          <a href="https://www.facebook.com/{{ collaborator.facebook }}/" title="Facebook"
          target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          {% else %}
          <i class="fa fa-facebook" aria-hidden="true"></i>
          {% endif %}
        </li>
        <li>
          {% if collaborator.instagram %}
          <a href="http://instagram.com/{{ collaborator.instagram }}" title="Instagram"
          target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          {% else %}
          <i class="fa fa-instagram" aria-hidden="true"></i>
          {% endif %}
        </li>
        <li>
          {% if collaborator.linkedin %}
          <a href="https://www.linkedin.com/{{ collaborator.linkedin }}" title="LinkedIn"
          target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          {% else %}
          <i class="fa fa-linkedin" aria-hidden="true"></i>
          {% endif %}
        </li>
      </ul>
    </li>
    {% endfor %}
  </ul>

  <div class="team-collaborators-talk-to-us">
    <h4 class="page-section-text">
      Trabalhamos voluntariamente para fazer do Codamos um ponto de encontro do fantástico mundo tecnológico.
    </h4>
    <a class="button-primary-outline" href="mailto:contato@codamos.club">Fale conosco</a>
  </div>
</section>

{% include code_of_conduct.html %}
