---
layout: default
---
<!-- BANNER -->
<section id="banner" class="banner-quem-somos">
  <div class="banner-content">
    <h2 class="page-banner-title">#MeuLugarEmTI</h2>

    <div class="page-banner-subtitle">
      <p>Conheça as histórias e depoimentos das mulheres que trabalham em T.I.!</p>
    </div>

    <a class="button-default-outline" href="https://twitter.com/search?vertical=default&q=%23MeuLugarEmTI&src=tyah" rel="noopener" target="_blank">veja a hashtag</a>
  </div>
</section>

<!-- QUEM SOMOS TOPO -->
<section class="page-section">
  <h1 class="page-section-title">Sobre o Codamos</h1>

  <p class="page-section-text">
    O <span class="pink">Codamos</span> é como uma vitrine de <a href="/eventos">eventos</a>, meetups, cursos, workshops,
    palestras e <a href="/palestrantes">palestrantes</a>, aqui, você pode achar eventos inclusivos.
    Nosso propósito é descomplicar a comunicação entre quem organiza e quem quer participar de eventos.
    As pessoas são nossa essência, estão em primeiro lugar e fazemos o nosso melhor para reconhecer,
    valorizar e respeitar a pluralidade.
  </p>

  <img src="images/logo.png" alt="Logotipo Codamos">

  <h1 class="page-section-title">Nossa história e motivação</h1>

  <p class="page-section-text">
    Em 2014 resolvi participar de um hackathon de Rails que acontece on-line, o <a href="http://r15.railsrumble.com/">Rails rumble</a>, e fazia muito tempo que eu sonhava em ter algum site ou projeto que ajudasse na questão da diversidade em eventos de tecnologia. A maioria das ferramentas e sites disponíveis para exibir eventos no momento não se preocupava com a diversidade, muitos eventos sequer tinham código de conduta. A ideia de ter um lugar como o <span class="pink">Codamos</span> nasceu junto com um grupo de amigos que apoiaram essa iniciativa.
  </p>

  <img class="img-content-highlight" src="images/img-codamos-hackathon.jpg" alt="Foto de uma pipoca com as pessoas comendo e falando sobre o hackathon que estão participando">

  <p class="page-section-text">
    Fizemos um estudo e resolvemos criar algo que fosse possível implementar em 48 horas! Nasceu o protótipo do <span class="pink">Codamos</span>. Na época queríamos algo um pouco mais focado em nichos, mas não foi possível implementar um monte de coisa que idealizamos, com isso nasceu uma versão 2 no ano seguinte. Mudaram as pessoas que colaboraram com a plataforma e com isso mudamos a forma como iríamos hospedar o <span class="pink">Codamos</span>, mudamos a linguagem que íamos trabalhar, nos tornamos um time mais preocupado com pessoas, aprendemos a ter empatia e em 2016 foi possível colocar uma versão MVP do projeto no ar com um grupo de voluntários colaborando.
  </p>

  <h1 class="page-section-title">Nosso propósito e aprendizado</h1>

  <p class="page-section-text">
    Quando começamos esta jornada, poucas pessoas sabiam a parte de front end/back end e só algumas já trabalhavam na área, então foi um longo aprendizado sobre GitHub e controle de versão, HTML, CSS, Jekyll, UX, acessibilidade, diversidade... Tudo foi um aprendizado até onde estamos hoje, inclusive aprendemos como os eventos funcionam, entendemos como e onde conseguimos gerar inclusão e diversidade no setor, na verdade acho que ainda estamos aprendendo a fazer isso. Hoje posso falar que estamos todos bem mais amadurecidos como profissionais e projeto. Nossa equipe de voluntários é formada por pessoas de diversos backgrounds, formação e profissões ligadas à tecnologia. Somos uma plataforma <strong>sem fins lucrativos</strong> que recebe contribuições de todos que compartilham nossos objetivos e querem colaborar de maneira saudável e construtiva dentro do nosso ecossistema tecnológico.
  </p>

  <p class="page-section-text">
    Eu, pessoalmente, acredito que os eventos (tanto faz grandes ou pequenos) são o coração das comunidades e quando pensamos em comunidade mais diversa e mais inclusiva, são os eventos que devem refletir esse movimento! Entendo que represento só uma parcela dessa diversidade e entendo que mesmo tendo minhas dificuldades em tecnologia, ainda sou privilegiada em várias coisas e faço questão de usar esse tal rpivilégio para divulgar o Codamos e conseguir mudar ou ajudar minimamente outras diversidades dentro da comunidade.
  </p>

  <h1 class="page-section-title">Planos pro futuro</h1>

  <p class="page-section-text">
    Nosso foco em 2019 é preparar mais o projeto para que receba contribuições open source, otimizar a curadoria dos eventos, ativar buscas por filtros, ampliar o cadastro de eventos englobando todo o Brasil e que qualquer possa cadastrar seu próprio evento na plataforma. Estamos trabalhando por isso, mas somos um time que se dedica <strong>voluntariamente</strong> e tenta aprender junto em várias etapas desse crescimento, portanto, tudo isso vai acontecer lentamente. Estamos aprendendo no processo. Sem o voluntáriado e a colaboração de cada um a gente não estaria aqui <span class="pink">S2</span>.
    A Diversidade é possível, dá trabalho, mas é perfeitamente possível e juntos podemos mudar <a href="https://insights.stackoverflow.com/survey/2017#developer-profile" target="_blank">nosso cenário atual na tecnologia</a>!
  </p>

  <img class="img-content-highlight" src="images/img-codamos-evento.jpg" alt="">

  <p class="page-section-text">
    - <span class="pink">Alda Rocha</span> @mjcoffeeholick
  </p>
</section>


<!-- EQUIPE E COLABORADORES -->
<section id="team-collaborators" class="page-section">
  <h1 class="page-section-subtitle-alt">Mantenedores do projeto</h1>

    <ul class="speakers-cards">
      {% include members.html members=site.data.members %}
    </ul>

  <a class="button-primary-outline" href="mailto:codamos.club@gmail.com">Fale conosco</a>
</section>
<section id="team-collaborators" class="page-section">

  <h4 class="page-section-text">
    Trabalhamos voluntariamente para fazer do <span class="pink">Codamos</span> um ponto de encontro do fantástico mundo tecnológico.
  </h4>

  <h1 class="page-section-subtitle-alt">Colaboram</h1>
  <ul class="team-collaborators-cards">
    {% for collaborator in site.data.collaborators %}
    <li class="team-collaborators-card">
      <img data-src="images/fotos/{{ collaborator.avatar }}" alt="{{ collaborator.name }}"/>
      <h3>{{ collaborator.name }}</h3>
      <ul>
        <li>
          {% if collaborator.twitter %}
          <a href="https://twitter.com/{{ collaborator.twitter }}" title="Twitter"
             rel="noopener" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a>
          {% else %}
          <i class="fab fa-twitter" aria-hidden="true"></i>
          {% endif %}
        </li>
        <li>
          {% if collaborator.facebook %}
          <a href="https://www.facebook.com/{{ collaborator.facebook }}/" title="Facebook"
             rel="noopener" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
          {% else %}
          <i class="fab fa-facebook-f" aria-hidden="true"></i>
          {% endif %}
        </li>
        <li>
          {% if collaborator.linkedin %}
          <a href="https://www.linkedin.com/{{ collaborator.linkedin }}" title="LinkedIn"
             rel="noopener" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
          {% else %}
          <i class="fab fa-linkedin" aria-hidden="true"></i>
          {% endif %}
        </li>
      </ul>
    </li>
    {% endfor %}
  </ul>

  <h1 class="page-section-subtitle-alt">Colaboraram</h1>
  <ul class="team-collaborators-cards">
    {% for collaborator in site.data.collaborators-old %}
    <li class="team-collaborators-card">
      <img data-src="images/fotos/{{ collaborator.avatar }}" alt="{{ collaborator.name }}"/>
      <h3>{{ collaborator.name }}</h3>
      <ul>
        <li>
          {% if collaborator.twitter %}
          <a href="https://twitter.com/{{ collaborator.twitter }}" title="Twitter"
             rel="noopener" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a>
          {% else %}
          <i class="fab fa-twitter" aria-hidden="true"></i>
          {% endif %}
        </li>
        <li>
          {% if collaborator.facebook %}
          <a href="https://www.facebook.com/{{ collaborator.facebook }}/" title="Facebook"
             rel="noopener" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
          {% else %}
          <i class="fab fa-facebook-f" aria-hidden="true"></i>
          {% endif %}
        </li>
        <li>
          {% if collaborator.linkedin %}
          <a href="https://www.linkedin.com/{{ collaborator.linkedin }}" title="LinkedIn"
             rel="noopener" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
          {% else %}
          <i class="fab fa-linkedin" aria-hidden="true"></i>
          {% endif %}
        </li>
      </ul>
    </li>
    {% endfor %}
  </ul>

</section>

{% include code_of_conduct.html %}

<section class="page-section">
  <h1 class="page-section-subtitle-alt">Eventos feitos em parceria com Codamos.club</h1>

  <ul class="events-cards">
    {% assign codamos = site.archived_events | where:"codamos",true | sort: "from" | reverse %}
    {% for event in codamos %}
      {% include event.html event=event rsvp=false cfp=false %}
    {% endfor %}
  </ul>
</section>
