---
layout: default
---
<!-- BANNER -->
<section id="summit" class="banner-summit">
  <div class="banner-content">

    <h2 class="page-banner-title">Codamos Summit</h2>

    <p class="page-section-text">
      Edição #1 vai acontecer em São Paulo dia 14/04 na NUbank
    </p>

  </div>
</section>

<!-- EVENTOS -->
<section class="page-section-summit">
   <h1 class="page-section-title">Codamos Summit SP</h1>

    <p class="page-section-text">
    Nossa primeira edição de um evento feito 100% do Codamos e com a intenção de dar palco e espaço pra falarmos sobre tecnologia, inclusão e diversidade.
    </p>

  <h1 class="page-section-subtitle-alt">Grade do evento</h1>

  <div class="wrapper">
  <div class="box credenciamento">
    <h2><i class="fa fa-clock-o" aria-hidden="true"></i> 09:00</h2>
    <h3>Credenciamento</h3>
  </div>

  <div class="box welcome_coffee">
    <h2><i class="fa fa-clock-o" aria-hidden="true"></i> 09:30</h2>
    <h3>Welcome coffee</h3>
  </div>

  <div class="box a">
    <h2><i class="fa fa-clock-o" aria-hidden="true"></i> 10:00</h2>
  </div>
  <div class="box b">
    <h2>Abertura do evento</h2>
  </div>

  <div class="box hora1">
    <h2><i class="fa fa-clock-o" aria-hidden="true"></i> 10:30</h2>
    <h3>CSS Grid</h3>
  </div>
  <div class="box perfil1">
    <img src="../images/fotos/carol_soares.jpg">
    <h2>Carol Soares</h2>
  </div>
  <div class="box palestra1">
    <h3>Layout na web - um guia de CSS Grid</h3>
  </div>

  <div class="box hora2">
    <h2><i class="fa fa-clock-o" aria-hidden="true"></i> 11:00</h2>
  </div>
  <div class="box perfil2"></div>
  <div class="box palestra2"></div>

  <div class="box hora3">
    <h2><i class="fa fa-clock-o" aria-hidden="true"></i> 11:30</h2>
  </div>
  <div class="box perfil3"></div>
  <div class="box palestra3"></div>

  <div class="box hora4">12:00 - 12:30</div>
  <div class="box perfil4"></div>
  <div class="box palestra4"></div>

  <div class="box almoco"><h2>12:30 - 13:30</h2> <h3>Almoço</h3></div>

  <div class="box hora5">13:30 - 14:00</div>
  <div class="box perfil5"></div>
  <div class="box palestra5"></div>

  <div class="box hora6">14:00 - 14:30</div>
  <div class="box perfil6"></div>
  <div class="box palestra6"></div>

  <div class="box hora7">14:30 - 15:00</div>
  <div class="box perfil7"></div>
  <div class="box palestra7"></div>

  <div class="box coffee1"><h2>15:00 - 15:30</h2> <h3>Coffee</h3></div>

  <div class="box hora8">15:30 - 16:00</div>
  <div class="box perfil8"></div>
  <div class="box palestra8"></div>

  <div class="box hora9">16:00 - 16:30</div>
  <div class="box perfil9"></div>
  <div class="box palestra9"></div>

  <div class="box hora10">16:30 - 17:00</div>
  <div class="box perfil10"></div>
  <div class="box palestra10"></div>

  <div class="box hora11">17:00 - 17:30</div>
  <div class="box perfil11"></div>
  <div class="box palestra11"></div>

  <div class="box coffee2"><h2>17:30 - 18:00</h2> <h3>Coffee</h3></div>

  <div class="box hora12">
    <h2><i class="fa fa-clock-o" aria-hidden="true"></i> 18:00</h2>
    <h3>Firebase</h3>
  </div>
  <div class="box perfil12">
    <img src="../images/fotos/jeliel-mendes.jpg">
    <h2>Evelyn Mendes</h2>
  </div>
  <div class="box palestra12">
    <h3>Desnormalização - Melhorando a exposição de pesquisa no Firebase</h3>
  </div>

  <div class="box c"><h2>18:30 - 19:30</h2><h3>Comunidades</h3></div>
  <div class="box d"><h3>Painel sobre diversidade e inclusão</h3></div>

  <div class="box f"></div>
  <div class="box g"></div>
  <div class="box h"></div>
  <div class="box i"></div>
  <div class="box j"></div>

  <div class="box k"></div>
  <div class="box l"></div>
  <div class="box m"></div>
  <div class="box n"></div>
  <div class="box o"></div>

  <div class="box encerramento">19:30 - 20:00 <h3>Encerramento</div>

  </div>

  <section id="team-collaborators" class="page-section">

    <h4 class="page-section-text">
      Trabalhamos voluntariamente para fazer do <span class="pink">Codamos</span> um ponto de encontro do fantástico mundo tecnológico.
    </h4>

    <h1 class="page-section-subtitle-alt">Realização</h1>
    <img src="images/logo.png" alt="Logotipo Codamos">

    <h1 class="page-section-subtitle-alt">Patrocínio</h1>
    <img src="images/summit/Nubank_Logo.png" alt="Logotipo Nubank">

  </section>

</section>

<section class="page-section">

  <p class="page-section-text">
    Observando a comunidade tecnológica, conseguimos perceber que existe uma lacuna de onde
    concentrar todas as informações de eventos, workshops, palestras, cursos e oportunidades de
    networking em todo Brasil reunidas um lugar só. Além disso, são poucos os que preocupam em
    divulgar e incentivar a inclusão, diversidade e a acessibilidade nos eventos de tecnologia.
    Nosso objetivo é promover <a href="/eventos">eventos</a> com esse foco.
  </p>

  <p class="page-section-text">
    <a href="/quem-somos">Essa é a razão pela qual criamos o Codamos.</a>
  </p>

</section>

{% include code_of_conduct.html %}

<!-- PALESTRANTES -->
<section id="speakers">
  <div class="page-section">
    <h1 class="page-section-subtitle-alt">Detalhes sobre palestrantes</h1>

    <ul class="speakers-cards">
      {% assign speakers = site.data.speakers | where:"highlight",true %}
      {% include speakers.html speakers=speakers %}
    </ul>

  </div>
</section>

