---
layout: default
---
<!-- BANNER -->
<section id="summit" class="banner-summit">
  <div class="banner-content">

    <h2 class="page-banner-title">Codamos Summit</h2>

    <p class="page-section-text">
      Edição #1 vai acontecer em São Paulo dia 14/04 na NUbank
    </p>

  </div>
</section>

<!-- EVENTOS -->
<section class="page-section-summit">
   <h1 class="page-section-title">Codamos Summit SP</h1>

    <p class="page-section-text">
    Nossa primeira edição de um evento feito 100% do Codamos e com a intenção de dar palco e espaço pra falarmos sobre tecnologia, inclusão e diversidade.
    </p>

  <h1 class="page-section-subtitle-alt">Grade do evento</h1>

  <div class="wrapper">
  <div class="box stage">
    <h2><i class="fa fa-clock-o" aria-hidden="true"></i> 09:00</h2>
    <h3>Credenciamento</h3>
  </div>

  <div class="box stage">
    <h2><i class="fa fa-clock-o" aria-hidden="true"></i> 09:30</h2>
    <h3>Welcome coffee</h3>
  </div>

  <div class="box a">
    <h2><i class="fa fa-clock-o" aria-hidden="true"></i> 10:00</h2>
  </div>
  <div class="box b">
    <h2>Abertura do evento</h2>
  </div>

  <div class="box date">
    <h2><i class="fa fa-clock-o" aria-hidden="true"></i> 10:30</h2>
    <h3>CSS Grid</h3>
  </div>
  <div class="box speak">
    <img src="../images/fotos/carol_soares.jpg">
    <h2>Carol Soares</h2>
  </div>
  <div class="box talk">
    <h3>Layout na web - Um guia de CSS Grid</h3>
  </div>

  <div class="box date">
    <h2><i class="fa fa-clock-o" aria-hidden="true"></i> 11:00</h2>
  </div>
  <div class="box speak"></div>
  <div class="box talk"></div>

  <div class="box date">
    <h2><i class="fa fa-clock-o" aria-hidden="true"></i> 11:30</h2>
  </div>
  <div class="box speak"></div>
  <div class="box talk"></div>

  <div class="box date">12:00 - 12:30</div>
  <div class="box speak"></div>
  <div class="box talk"></div>

  <div class="box stage"><h2>12:30 - 13:30</h2> <h3>Almoço</h3></div>

  <div class="box date">13:30 - 14:00</div>
  <div class="box speak"></div>
  <div class="box talk"></div>

  <div class="box date">14:00 - 14:30</div>
  <div class="box speak"></div>
  <div class="box talk"></div>

  <div class="box date">14:30 - 15:00</div>
  <div class="box speak"></div>
  <div class="box talk"></div>

  <div class="box stage"><h2>15:00 - 15:30</h2> <h3>Coffee</h3></div>

  <div class="box date">15:30 - 16:00</div>
  <div class="box speak"></div>
  <div class="box talk"></div>

  <div class="box date">16:00 - 16:30</div>
  <div class="box speak"></div>
  <div class="box talk"></div>

  <div class="box date">16:30 - 17:00</div>
  <div class="box speak"></div>
  <div class="box talk"></div>

  <div class="box date">17:00 - 17:30</div>
  <div class="box speak"></div>
  <div class="box talk"></div>

  <div class="box stage"><h2>17:30 - 18:00</h2> <h3>Coffee</h3></div>

  <div class="box date">
    <h2><i class="fa fa-clock-o" aria-hidden="true"></i> 18:00</h2>
    <h3>Firebase</h3>
  </div>
  <div class="box speak">
    <img src="../images/fotos/jeliel-mendes.jpg">
    <h2>Evelyn Mendes</h2>
  </div>
  <div class="box talk">
    <h3>Desnormalização - Melhorando a experiência de pesquisa no Firebase</h3>
  </div>

  <div class="box a"><h2>18:30 - 19:30</h2><h3>Comunidades</h3></div>
  <div class="box b"><h3>Painel sobre diversidade e inclusão</h3></div>

  <div class="box f">Palestrante</div>
  <div class="box g">Palestrante</div>
  <div class="box h">Palestrante</div>
  <div class="box i">Palestrante</div>
  <div class="box j">Palestrante</div>

  <div class="box k">Palestrante</div>
  <div class="box l">Palestrante</div>
  <div class="box m">Palestrante</div>
  <div class="box n">Palestrante</div>
  <div class="box o">Palestrante</div>

  <div class="box stage">19:30 - 20:00 <h3>Encerramento</div>

  </div>

  <section id="team-collaborators" class="page-section">

    <h4 class="page-section-text">
      Trabalhamos voluntariamente para fazer do <span class="pink">Codamos</span> um ponto de encontro do fantástico mundo tecnológico.
    </h4>

    <h1 class="page-section-subtitle-alt">Realização</h1>
    <img src="images/logo.png" alt="Logotipo Codamos">

    <h1 class="page-section-subtitle-alt">Patrocínio</h1>
    <img src="images/summit/Nubank_Logo.png" alt="Logotipo Nubank">

  </section>

</section>

<section class="page-section">

  <p class="page-section-text">
    Observando a comunidade tecnológica, conseguimos perceber que existe uma lacuna de onde
    concentrar todas as informações de eventos, workshops, palestras, cursos e oportunidades de
    networking em todo Brasil reunidas um lugar só. Além disso, são poucos os que preocupam em
    divulgar e incentivar a inclusão, diversidade e a acessibilidade nos eventos de tecnologia.
    Nosso objetivo é promover <a href="/eventos">eventos</a> com esse foco.
  </p>

  <p class="page-section-text">
    <a href="/quem-somos">Essa é a razão pela qual criamos o Codamos.</a>
  </p>

</section>

{% include code_of_conduct.html %}

<!-- PALESTRANTES -->
<section id="speakers">
  <div class="page-section">
    <h1 class="page-section-subtitle-alt">Detalhes sobre palestrantes</h1>

    <ul class="speakers-cards">
      {% assign speakers = site.data.speakers | where:"highlight",true %}
      {% include speakers.html speakers=speakers %}
    </ul>

  </div>
</section>

