<!-- INCLUIR PALESTRANTE -->
<section id="include-speaker" class="page-section-blue">
  <h2 class="include-speaker-title">Inclua um Palestrante!</h2>

  <p class="include-speaker-call">
    Seja você também um palestrante!
  </p>

  <a class="button-default-outline modal-button">Cadastro</a>

  <div class="modal">
    <div class="modal-content">
      <span class="modal-close">&times;</span>
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdjGJTTAK1w19vxz4rRO7UsUKL_zalrqB7YxXEO1w2EQ3IncA/viewform?embedded=true" height="500">
      </iframe>
    </div>
  </div>

  <script>
    var modal = document.getElementsByClassName('modal')[0];
    var button = document.getElementsByClassName("modal-button")[0];
    var span = document.getElementsByClassName("modal-close")[0];

    button.onclick = function() {
      modal.style.display = "block";
    }

    span.onclick = function() {
      modal.style.display = "none";
    }

    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>
</section>
