<!-- BLM -->
<section id="blm-event">
  <h2 class="blm-event-title">#VidasNegrasImportam</h2>
  <p class="blm-event-call">
    Ficar em silêncio é ser cumplice. <strong class="blm-bg">Não basta não ser racista, é preciso ser ANTIRRACISTA!</strong>
  </p>
  <p class="blm-event-call"><img src="images/bpm.png" alt="Black lives Matter"></p>
  <p class="blm-event-call">
    Temos um compromisso e um dever com a comunidade, apoiamos iniciativas e causas com o foco na diversidade e inclusão de talentos negros na tecnologia, na ciência e nos palcos de eventos. Não podemos normalizar preconceito! #Vidasnegrasimportam em qualquer lugar do mundo! Chega de violência e racismo.
  </p>

  <a class="button-secondary-outline" href="https://twitter.com/hashtag/vidasnegrasimportam?src=hashtag_click">Acompanhe o movimento</a>
</section>
