{% for community in include.communities %}
<li class="communities-card">

<div class="communities-card-header">

    <div class="communities-card-banner">

      <img data-src="images/eventos/{{ community.banner | default:'codamos.png' }}" alt="{{ community.title }}">

      {% if community.tags %}
      <div class="communities-card-header-ico">
        {% for tag in community.tags %}
          {% assign icon = site.data.community_icons[tag] %}
          <i class="{{ icon.class }}" title="{{ icon.label }}"></i>
        {% endfor %}
      </div>
      {% endif %}

    </div>
    <div class="communities-card-title">
      <h3>{{ community.title }}</h3>

      {% if community.hashtag %}
      <div class="events-card-body-hashtag">
        <i class="fas fa-hashtag" aria-hidden="true"></i>
        <a href="https://twitter.com/hashtag/{{ community.hashtag }}?src=hash"
           rel="noopener" target="_blank" title="Hashtag">{{ community.hashtag }}</a>
      </div>
      {% else %}
      <div class="events-card-body-no-hashtag">
        <i class="fas fa-hashtag" aria-hidden="true"></i> SemHashtag
      </div>
      {% endif %}

      <div class="communities-card-body-social-media">
        {% if community.twitter %}
        <a href="https://twitter.com/{{ community.twitter }}" title="Twitter"
           rel="noopener" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a>
        {% else %}
        <i class="fab fa-twitter" aria-hidden="true"></i>
        {% endif %}

        {% if community.facebook %}
        <a href="https://www.facebook.com/{{ community.facebook }}/" title="Facebook"
           rel="noopener" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
        {% else %}
        <i class="fab fa-facebook-f" aria-hidden="true"></i>
        {% endif %}

        {% if community.main_url %}
        <a href="{{ community.main_url }}" title="Site"
           rel="noopener" target="_blank"><i class="fas fa-link" aria-hidden="true"></i></a>
        {% else %}
        <i class="fas fa-link" aria-hidden="true"></i></i>
        {% endif %}

        {% if community.meetup %}
        <a href="https://www.meetup.com/{{ community.meetup }}/" title="Meetup"
           rel="noopener" target="_blank"><i class="fab fa-meetup" aria-hidden="true"></i></a>
        {% else %}
        <i class="fab fa-meetup" aria-hidden="true"></i>
        {% endif %}

        {% if community.slack %}
        <a href="https://www.meetup.com/{{ community.slack }}/" title="Slack"
           rel="noopener" target="_blank"><i class="fab fa-slack" aria-hidden="true"></i></a>
        {% endif %}

        {% if community.github %}
        <a href="https://github.com/{{ community.github }}/" title="Github"
           rel="noopener" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a>
        {% endif %}

        {% if community.linkedin %}
        <a href="https://www.linkedin.com/{{ community.linkedin }}" title="LinkedIn"
           rel="noopener" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
        {% endif %}

        {% if community.medium %}
        <a href="https://www.medium.com/{{ community.medium }}/" title="Medium"
           rel="noopener" target="_blank"><i class="fab fa-medium" aria-hidden="true"></i></a>
        {% endif %}

        {% if community.instagram %}
        <a href="http://instagram.com/{{ community.instagram }}" title="Instagram"
           rel="noopener" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a>
        {% endif %}

        {% if community.youtube %}
        <a href="https://www.youtube.com/{{ community.youtube }}" title="Youtube"
           rel="noopener" target="_blank"><i class="fab fa-youtube" aria-hidden="true"></i></a>
        {% endif %}

        {% if community.discord %}
        <a href="https://www.youtube.com/{{ community.discord }}" title="discord"
           rel="noopener" target="_blank"><i class="fab fa-discord" aria-hidden="true"></i></a>
        {% endif %}

        {% if community.twitch %}
        <a href="https://www.youtube.com/{{ community.twitch }}" title="twitch"
           rel="noopener" target="_blank"><i class="fab fa-twitch" aria-hidden="true"></i></a>
        {% endif %}

      </div>
    </div>
  </div>

</li>
{% endfor %}
