{% for event in include.events %}
<li class="events-card">
  <div class="events-card-header">
    <div class="events-card-banner">
      <img src="images/eventos/{{ event.banner }}" alt="{{ event.title }}">
    </div>
    {% if event.free %}
    <div class="events-card-header-free">
      <i class="fa fa-ticket" aria-hidden="true"></i><h3>Gratuito</h3>
    </div>
    {% endif %}
    {% if event.category %}
    <div class="events-card-header-category">
      <i class="fa fa-graduation-cap" aria-hidden="true"></i><h3>{{ event.category }}</h3>
    </div>
    {% endif %}
    {% if event.cfp %}
    <div class="events-card-header-call4papers">
      <i class="fa fa-bullhorn" aria-hidden="true"></i><h3>Call4papers</h3>
    </div>
    {% endif %}
    <span class="events-card-header-ico">
      {% for tag in event.tags %}
      <i class="fa fa-{{ tag }}" title="{{ site.data.event_icons[tag] }}"></i>
      {% endfor %}
    </span>
    <h3 class="events-card-title">{{ event.title }}</h3>
  </div>
  <div class="events-card-body">
    <div class="events-card-body-social-media">
      {% if event.twitter %}
      <a href="https://twitter.com/{{ event.twitter }}" title="Twitter"
         target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      {% else %}
      <i class="fa fa-twitter" aria-hidden="true"></i>
      {% endif %}

      {% if event.facebook %}
      <a href="https://www.facebook.com/{{ event.facebook }}/" title="Facebook"
         target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      {% else %}
      <i class="fa fa-facebook" aria-hidden="true"></i>
      {% endif %}

      {% if event.instagram %}
      <a href="http://instagram.com/{{ event.instagram }}" title="Instagram"
         target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      {% endif %}

      {% if event.linkedin %}
      <a href="https://www.linkedin.com/{{ event.linkedin }}" title="LinkedIn"
         target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      {% endif %}

      {% if event.meetup %}
      <a href="https://www.meetup.com/{{ event.meetup }}/" title="Meetup"
         target="_blank"><i class="fa fa-meetup" aria-hidden="true"></i></a>
      {% endif %}

      {% if event.youtube %}
      <a href="https://www.youtube.com/user/{{ event.youtube }}/videos" title="Youtube"
         target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
      {% endif %}

      <a href="{{ event.main_url }}" title="Site"
         target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a>
    </div>
    {% if event.hashtag %}
    <div class="events-card-body-hastag">
      <i class="fa fa-hashtag" aria-hidden="true"></i><a href="https://twitter.com/hashtag/{{ event.hashtag }}?src=hash"
         target="_blank" title="Hashtag">{{ event.hashtag }}</a>
    </div>
    {% endif %}
    <div class="events-card-body-local">
      <i class="fa fa-map-marker" aria-hidden="true"></i>
      <p>{{ event.location }}</p>
    </div>
    <div class="events-card-body-date">
      <i class="fa fa-calendar" aria-hidden="true"></i>
      <p>{{ event.date }}</p>
    </div>
    <div class="events-card-body-grupo">
      {% if event.group %}
      <img src="images/grupo/{{ event.group }}">
      {% endif %}
    </div>
    {% if event.rsvp_url %}
    <div class="events-card-body-button">
      <a href="{{ event.rsvp_url }}" class="button-primary" target="_blank">Quero ir</a>
    </div>
    {% endif %}
  </div>
</li>
{% endfor %}
