{% comment %}
# Flags

# group:         arquivo na pasta `images/grupo`, opcional.
# group_name:    texto, opcional. ex. Programaria, Marialab, Training Center.
# free:          booleano (true ou false), opcional. Evento gratuito.
# inclusive:     booleano (true ou false), opcional. Evento inclusivo.
# category:      texto sem espaços, opcional. ex. Curso, Workshop, Treinamento.
# women:         booleano (true ou false), opcional. Tem mulheres na grade de palestrantes.
# lgbt:          booleano (true ou false), opcional. Evento para o público LGBTQ+.
# poc:           booleano (true ou false), opcional. Evento com foco em Diversidade Racial na TI.
# hackathon:     booleano (true ou false), opcional. Evento no formato hackathon.
# opensource:    booleano (true ou false), opcional. É um evento para a comunidade Open source.
# cfp:           booleano (true ou false), opcional. Está com Call For papers aberto.
# highlight:     booleano (true ou false), opcional. Destaque na home.
# happyhour:     booleano (true ou false), opcional. Evento no bar.
# coffee:        booleano (true ou false), opcional. Evento em café.
# meetup_event:  booleano (true ou false), opcional. Evento que é um meetup.
# partners:      booleano (true ou false), opcional. Evento em café.
# on_line:       booleano (true ou false), opcional. Evento que são on-line.
# frontendweek:  booleano (true ou false), opcional. Evento da semana FRONTENDWEEK.
# beginners:     booleano (true ou false), opcional. Evento para iniciantes.

# Infomations

# title:      texto, obrigatório. Nome do evento.
# location:   texto, obrigatório.
# date:       texto, obrigatório. Data do evento para exibição. Exemplos: "02/11 a 16/11", "02/2018".
# until:      texto, obrigatório. Data até quando o evento deve ficar ativo. Exemplo: "2018-07-22".
# banner:     arquivo na pasta `images/eventos`, opcional.
# tags:       lista de tags para ícones e filtros, opcional. Vide `event_icons.yml`.
# hashtag:    texto sem espaços, opcional. Hashtag oficial do twitter.
# twitter:    texto sem espaços, opcional. Twitter handle.
# facebook:   texto sem espaços, opcional. Facebook handle.
# instagram:  texto sem espaços, opcional. Instagram handle.
# linkedin:   texto sem espaços, opcional. LinkedIn handle.
# meetup:     texto sem espaços, opcional. Id do grupo no Meetup.
# medium:     texto sem espaços, opcional. User do grupo no Medium.
# github:     texto sem espaços, opcional. user do github.
# discord:    texto sem espaços, opcional. user discord.
# twitch:     texto sem espaços, opcional. user twitch.
# youtube:    texto sem espaços, opcional. Youtube handle.
# main_url:   URL, obrigatório. Site do evento.
# rsvp_url:   URL, obrigatório. Site para inscrição no evento.
{% endcomment %}

<li class="events-card" data-event-card data-event-tags="{{ event.tags | join: ' ' }}">
  <div class="events-card-header">

    {% if event.group %}
    <div class="events-card-body-grupo">
      <img src="images/grupo/{{ event.group }}" title="Evento do grupo {{ event.group_name }}" >
    </div>
    {% endif %}

    <div class="events-card-banner">
      <img data-src="images/eventos/{{ event.banner | default:'codamos.png' }}" alt="{{ event.title }}">

      {% if event.free %}
      <div class="events-card-header-label free">
        <i class="fas fa-ticket-alt" aria-hidden="true"></i><h3>gratuito</h3>
      </div>
      {% endif %}

      {% if event.inclusive %}
      <div class="events-card-header-label inclusive">
        <i class="fas fa-heart" aria-hidden="true"></i><h3>inclusivo</h3>
      </div>
      {% endif %}

      {% if event.women %}
      <div class="events-card-header-label women">
        <i class="fas fa-venus" aria-hidden="true"></i><h3>no palco</h3>
      </div>
      {% endif %}

      {% if event.opensource %}
      <div class="events-card-header-label opensource">
        <i class="fas fa-code-branch" aria-hidden="true"></i><h3>open source</h3>
      </div>
      {% endif %}

      {% if event.codamos %}
      <div class="events-card-header-label codamos">
        <i class="far fa-gem" aria-hidden="true"></i><h3>da casa</h3>
      </div>
      {% endif %}

      {% if event.cfp and include.cfp != false %}
      <div class="events-card-header-label call4papers">
        <i class="fas fa-bullhorn" aria-hidden="true"></i><h3>call4papers</h3>
      </div>
      {% endif %}

      {% if event.frontendweek %}
      <div class="events-card-header-label frontendweek">
        <i class="fas fa-code-branch" aria-hidden="true"></i><h3>Frontend Week</h3>
      </div>
      {% endif %}

      {% if event.beginners %}
      <div class="events-card-header-label beginners">
        <i class="fas fa-lemon" aria-hidden="true"></i><h3>+1 Iniciantes</h3>
      </div>
      {% endif %}

    </div>

    <span>
      {% if event.category %}
      <div class="events-card-header-tag category">
        <i class="fas fa-graduation-cap" aria-hidden="true"></i><h3>{{ event.category }}</h3>
      </div>
      {% endif %}

      {% if event.partners %}
      <div class="events-card-header-tag partners">
        <i class="far fa-gem" aria-hidden="true"></i><h3>parceiro</h3>
      </div>
      {% endif %}

      {% if event.meetup_event %}
      <div class="events-card-header-tag meetup_event">
        <i class="fab fa-meetup" aria-hidden="true"></i><h3>Meetup</h3>
      </div>
      {% endif %}

      {% if event.on_line %}
      <div class="events-card-header-tag on_line">
        <i class="fas fa-power-off" aria-hidden="true"></i><h3>on-line</h3>
      </div>
      {% endif %}

      {% if event.hackathon %}
      <div class="events-card-header-tag hackathon">
        <i class="fas fa-laptop" aria-hidden="true"></i><h3>Hackathon</h3>
      </div>
      {% endif %}

      {% if event.happyhour %}
      <div class="events-card-header-tag happyhour">
        <i class="fas fa-beer" aria-hidden="true"></i><h3>happy hour</h3>
      </div>
      {% endif %}

      {% if event.coffee %}
      <div class="events-card-header-tag coffee">
        <i class="fas fa-coffee" aria-hidden="true"></i><h3>café</h3>
      </div>
      {% endif %}

      {% if event.lgbt %}
      <div class="events-card-header-tag lgbt">
        <i class="fas fa-flag" aria-hidden="true"></i><h3>Evento LGBT</h3>
      </div>
      {% endif %}

      {% if event.poc %}
      <div class="events-card-header-tag on_line">
        <i class="fas fa-hand-rock" aria-hidden="true"></i><h3>Diversidade Racial</h3>
      </div>
      {% endif %}
    </span>

    {% if event.tags %}
      <span class="events-card-header-ico">
        {% for tag in event.tags %}
          {% assign icon = site.data.event_icons[tag] %}
          <i class="{{ icon.class }}" title="{{ icon.label }}"></i>
        {% endfor %}
      </span>
    {% else %}
      <span class="events-card-header-ico-no-info">
        <h4>sem informações inclusivas</h4>
      </span>
    {% endif %}
  </div>

  <div class="events-card-title">
    <h3>{{ event.title }}</h3>
  </div>

  <div class="events-card-body">
    <div class="events-card-body-content">
      {% if event.hashtag %}
      <div class="events-card-body-hashtag">
        <i class="fas fa-hashtag" aria-hidden="true"></i>
        <a href="https://twitter.com/hashtag/{{ event.hashtag }}?src=hash"
           rel="noopener" target="_blank" title="Hashtag">{{ event.hashtag }}</a>
      </div>
      {% else %}
      <div class="events-card-body-no-hashtag">
        <i class="fas fa-hashtag" aria-hidden="true"></i> SemHashtag
      </div>
      {% endif %}

      <div class="events-card-body-social-media">
        {% if event.twitter %}
        <a href="https://twitter.com/{{ event.twitter }}" title="Twitter"
           rel="noopener" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a>
        {% else %}
        <i class="fab fa-twitter" aria-hidden="true"></i>
        {% endif %}

        {% if event.facebook %}
        <a href="https://www.facebook.com/{{ event.facebook }}/" title="Facebook"
           rel="noopener" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
        {% else %}
        <i class="fab fa-facebook-f" aria-hidden="true"></i>
        {% endif %}

        {% if event.instagram %}
        <a href="http://instagram.com/{{ event.instagram }}" title="Instagram"
           rel="noopener" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a>
        {% endif %}

        {% if event.linkedin %}
        <a href="https://www.linkedin.com/{{ event.linkedin }}" title="LinkedIn"
           rel="noopener" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
        {% endif %}

        {% if event.meetup %}
        <a href="https://www.meetup.com/{{ event.meetup }}/" title="Meetup"
           rel="noopener" target="_blank"><i class="fab fa-meetup" aria-hidden="true"></i></a>
        {% endif %}

        {% if event.medium %}
        <a href="https://www.medium.com/{{ event.medium }}/" title="Medium"
           rel="noopener" target="_blank"><i class="fab fa-medium" aria-hidden="true"></i></a>
        {% endif %}

        {% if event.youtube %}
        <a href="https://www.youtube.com/{{ event.youtube }}" title="Youtube"
           rel="noopener" target="_blank"><i class="fab fa-youtube" aria-hidden="true"></i></a>
        {% endif %}

        {% if event.github %}
        <a href="https://www.youtube.com/{{ event.github }}" title="GitHub"
           rel="noopener" target="_blank"><i class="fab fa-github-square" aria-hidden="true"></i></a>
        {% endif %}

        {% if event.discord %}
        <a href="https://www.youtube.com/{{ event.discord }}" title="discord"
           rel="noopener" target="_blank"><i class="fab fa-discord" aria-hidden="true"></i></a>
        {% endif %}

        {% if event.twitch %}
        <a href="https://www.youtube.com/{{ event.twitch }}" title="twitch"
           rel="noopener" target="_blank"><i class="fab fa-twitch" aria-hidden="true"></i></a>
        {% endif %}

        <a href="{{ event.main_url }}" title="Site"
           rel="noopener" target="_blank"><i class="fas fa-link" aria-hidden="true"></i></a>
      </div>

      <div class="events-card-body-local">
        <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
        <p>{{ event.location }}</p>
      </div>

      <div class="events-card-body-date">
        <i class="far fa-calendar-alt" aria-hidden="true"></i>
        <p>{{ event.date }}</p>
      </div>

    </div>

    {% if event.rsvp_url and include.rsvp != false %}
    <div class="events-card-body-button">
      <a href="{{ event.rsvp_url }}" class="button-primary" rel="noopener" target="_blank">Quero ir</a>
    </div>
    {% else %}
    <div class="events-card-body-button">
      <p class="button-stand-by" rel="noopener" target="_blank">Aguarde</p>
    </div>
    {% endif %}
  </div>
</li>
