{% for speaker in include.speakers %}
<li class="speaker-card">
<div class="speaker-card-front">
  <img src="images/fotos/{{ speaker.avatar }}"
       alt="{{ speaker.name }}"
       width="118"
       height="118"
       loading="lazy"/>

  <div class="speaker-card-labels">
    {% for label in speaker.labels %}
      {% assign icon = site.data.speaker_icons[label] %}
      <i class="{{ icon.class }} fa-2x" title="{{ icon.label }}"></i>
    {% endfor %}
  </div>

  <h3>{{ speaker.full_name | default: speaker.name }}</h3>

  <p class="speaker-card-address"><i class="fas fa-map-marker-alt" aria-hidden="true"></i> {{ speaker.location }}</p>

  <h4 class="speaker-card-skills">
    {% for skill in speaker.skills %}
    <span><i class="fas fa-hashtag" aria-hidden="true"></i> {{ skill }}</span>
    {% endfor %}
  </h4>

    <div class="speaker-card-header-ico">
        {% if speaker.speaker %}
        <span class="speaker-card-tag-label speaker">
          <i class="fas fa-microphone-alt" aria-hidden="true"></i><h4>Palestrar</h4>
        </span>
        {% endif %}

        {% if speaker.mentor %}
          <span class="speaker-card-tag-label mentor">
            <i class="fas fa-graduation-cap" aria-hidden="true"></i><h4>Mentorar</h4>
          </span>
        {% endif %}

        {% if speaker.voluntary %}
          <span class="speaker-card-tag-label voluntary">
            <i class="far fa-handshake" aria-hidden="true"></i><h4>Voluntariar</h4>
          </span>
        {% endif %}

        <label class="speaker-card-tag-label show-bio" for="Bio {{ speaker.name }}">
          <i class="far fa-eye" aria-hidden="true"></i><h4>Ver bio</h4>
        </label>
    </div>

  <div class="speaker-card-social-media">
  <h4>Entre em contato</h4>
  <ul>
    <li>
    {% if speaker.email %}
      <a href="mailto:{{ speaker.email }}" title="E-mail"
         target="_blank"><i class="far fa-envelope" aria-hidden="true"></i></a>
    {% else %}
      <i class="far fa-envelope" aria-hidden="true" title="E-mail"></i>
    {% endif %}
    </li>

    <li>
    {% if speaker.linkedin %}
      <a href="https://www.linkedin.com/in/{{ speaker.linkedin }}/" title="Linkedin"
         rel="noopener" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
    {% else %}
      <i class="fab fa-linkedin" aria-hidden="true" title="Linkedin"></i>
    {% endif %}
    </li>

    <li>
    {% if speaker.github %}
      <a href="https://github.com/{{ speaker.github }}" title="Github"
         rel="noopener" target="_blank"><i class="fab fa-github-square" aria-hidden="true"></i></a>
    {% else %}
      <i class="fab fa-github-square" aria-hidden="true" title="GitHub"></i>
    {% endif %}
    </li>

    {% if speaker.site %}
    <li>
      <a href="{{ speaker.site }}" title="Site"
         rel="noopener" target="_blank"><i class="fas fa-link" aria-hidden="true"></i></a>
    </li>
    {% endif %}

    {% if speaker.twitter %}
    <li>
      <a href="https://twitter.com/{{ speaker.twitter }}" title="Twitter"
         rel="noopener" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a>
    </li>
    {% endif %}

    {% if speaker.facebook %}
    <li>
      <a href="https://facebook.com/{{ speaker.facebook }}" title="Facebook"
         rel="noopener" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a>
    </li>
    {% endif %}

    {% if speaker.instagram %}
    <li>
      <a href="https://www.instagram.com/{{ speaker.instagram }}/" title="Instagram"
         rel="noopener" target="_blank"><i class="fab fa-instagram"></i></a>
    </li>
    {% endif %}

    {% if speaker.discord %}
    <li>
      <a href="https://discordhub.com/profile/{{ speaker.discord }}" title="Discord"
         rel="noopener" target="_blank"><i class="fab fa-discord"></i></a>
    </li>
    {% endif %}

    {% if speaker.twitch %}
    <li>
      <a href="https://www.twitch.tv/{{ speaker.twitch }}" title="Twitch"
         rel="noopener" target="_blank"><i class="fab fa-twitch"></i></a>
    </li>
    {% endif %}

  </ul>
  </div>
</div>

<input
  type="checkbox"
  class="speaker-card-bio-toggle"
  aria-hidden="true"
  id="Bio {{ speaker.name }}">

<div class="speaker-card-back">
  <div class="speaker-card-bio">
    <div class="speech-bubble"></div>
    <div class="scroller"><p>{{ speaker.bio }}</p></div>
    <label class="speaker-card-hide-bio" for="Bio {{ speaker.name }}"><i class="fas fa-times-circle"></i></label>
  </div>
</div>
</li>
{% endfor %}
