{% for speaker in include.speakers %}
<li class="speaker-card">
  <img data-src="images/fotos/{{ speaker.avatar }}" alt="{{ speaker.name }}" width="118" height="118" />

  <div class="speaker-card-labels lgbt-label">
    {% for label in speaker.labels %}
    <i class="fa fa-{{ label }} fa-2x" title="{{ site.data.speaker_icons[label] }}"></i>
    {% endfor %}
    {% if speaker.lgbt %}
    <img src="images/lgbt.png" alt="LGBTQI+">
    {% endif %}
  </div>

  <h3>{{ speaker.full_name | default: speaker.name }}</h3>

  <p class="speaker-card-address">{{ speaker.location }}</p>

  <h4 class="speaker-card-skills">
    {% for skill in speaker.skills %}
    <span>#{{ skill }}</span>
    {% endfor %}
  </h4>

  <p class="speaker-card-bio">
    {{ speaker.bio }}
  </p>

  <div class="speaker-card-social-media">
  <h4>Entre em contato</h4>
  <ul>
    <li>
    {% if speaker.email %}
      <a href="mailto:{{ speaker.email }}" title="E-mail"
         target="_blank"><i class="fa fa-envelope-o grey" aria-hidden="true"></i></a>
    {% else %}
      <i class="fa fa-envelope-o" aria-hidden="true" title="E-mail"></i>
    {% endif %}
    </li>

    <li>
    {% if speaker.site %}
      <a href="{{ speaker.site }}" title="Site"
         target="_blank"><i class="fa fa-link grey" aria-hidden="true"></i></a>
    {% else %}
      <i class="fa fa-link" aria-hidden="true" title="Site"></i>
    {% endif %}
    </li>

    <li>
    {% if speaker.linkedin %}
      <a href="https://www.linkedin.com/in/{{ speaker.linkedin }}/" title="Linkedin"
         target="_blank"><i class="fa fa-linkedin-square grey" aria-hidden="true"></i></a>
    {% else %}
      <i class="fa fa-linkedin-square" aria-hidden="true" title="Linkedin"></i>
    {% endif %}
    </li>

    <li>
    {% if speaker.github %}
      <a href="https://github.com/{{ speaker.github }}" title="Github"
         target="_blank"><i class="fa fa-github-square grey" aria-hidden="true"></i></a>
    {% else %}
      <i class="fa fa-github-square" aria-hidden="true" title="GitHub"></i>
    {% endif %}
    </li>

    <li>
    {% if speaker.twitter %}
      <a href="https://twitter.com/{{ speaker.twitter }}" title="Twitter"
         target="_blank"><i class="fa fa-twitter-square grey" aria-hidden="true"></i></a>
    {% else %}
      <i class="fa fa-twitter-square" aria-hidden="true" title="Twitter"></i>
    {% endif %}
    </li>

    <li>
    {% if speaker.facebook %}
      <a href="https://twitter.com/{{ speaker.facebook }}" title="Facebook"
         target="_blank"><i class="fa fa-facebook-square grey" aria-hidden="true"></i></a>
    {% else %}
      <i class="fa fa-facebook-square" aria-hidden="true" title="Facebook"></i>
    {% endif %}
    </li>
  </ul>
  </div>
</li>
{% endfor %}
