<!-- TWITTER -->
<section id="twitter-event">
  <i class="fab fa-3x fa-twitter" aria-hidden="true"></i><h2 class="twitter-event-title">#EventosCodamos</h2>

  <p class="twitter-event-call">
    Faça parte do Codamos, envie seu evento inclusivo usando a hashtag para ser cadastrado!
  </p>

  <a class="button-secondary-outline" href="https://twitter.com/intent/tweet?related=CodamosClub&text=Quero%20divulgar%20meu%20evento%20no%20@CodamosClub%21&hashtags=EventoCodamos">Enviar evento</a>
</section>
