<!-- TWITTER -->
<section id="twitter-event" class="page-section-social-twitter">
  <p><i class="fab fa-3x fa-twitter" aria-hidden="true"></i> <h2 class="twitter-event-title">#EventosCodamos</h2></p>

  <p class="twitter-event-call">
    Use a hastag com o link do seu evento para incluirmos aqui!
  </p>

  <a class="button-default-outline" href="https://twitter.com/intent/tweet?related=CodamosClub&text=Quero%20divulgar%20meu%20evento%20no%20@CodamosClub%21&hashtags=EventoCodamos">Enviar evento</a>
</section>
