---
---
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Codamos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="css/font-awesome.css" rel="stylesheet">

    <!-- ANALYTICS -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-101942144-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <!-- CABECALHO -->
    <header id="header">
      <div class="header-navbar">
        <a class="logotipo-codamos" href="index.html"><img src="images/logo.png" alt="Logotipo Codamos"></a>

        <nav class="header-navbar-menu">
          <ul>
            <li><a href="eventos.html">Eventos</a></li>
            <li><a href="palestrantes.html">Palestrantes</a></li>
            <li><a href="parceiros.html">Parceiros</a></li>
            <li><a href="#code-of-conduct">Código de conduta</a></li>
          </ul>
        </nav>

        <ul class="header-social-media">
          <li>
            <a href="https://twitter.com/CodamosClub" target="_blank" alt="Twitter" title="Twitter">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/codamosclub" target="_blank" alt="Facebook" title="Facebook">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://www.meetup.com/pt-BR/Codamos-Club/" target="_blank" alt="Meetup" title="Meetup">
              <i class="fa fa-meetup" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://medium.com/codamos" target="_blank" alt="Medium" title="Medium">
              <i class="fa fa-medium" aria-hidden="true"></i>
            </a>
          </li>
        </ul>

        <div class="header-menu-hamburger">
          <input id="button-hamburguer" type="checkbox">
          <label for="button-hamburguer">
            <i class="fa fa-2x fa-bars" aria-hidden="true"></i>
          </label>

          <ul class="submenu-hamburger">
            <li><a href="eventos.html">Eventos</a></li>
            <li><a href="palestrantes.html">Palestrantes</a></li>
            <li><a href="parceiros.html">Parceiros</a></li>
            <li><a href="codigo-de-conduta-codamos.pdf">Código de conduta</a></li>
            <li>
              <ul class="submenu-hamburger-social-media">
                <li>
                  <a href="https://twitter.com/CodamosClub" target="_blank">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.facebook.com/codamosclub" target="_blank">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.meetup.com/pt-BR/Codamos-Club/" target="_blank">
                    <i class="fa fa-meetup" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="https://medium.com/codamos" target="_blank">
                    <i class="fa fa-medium" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </header>

    {{ content }}

    <!-- PARCEIROS E APOIADORES -->
    <section id="partners-supporters" class="page-section-white">
      <div class="partners-supporters-box">
        <div class="partners-supporters-text">
            <h3>
              "
              A inclusão precisa acontecer.
              A tecnologia não tem sexo, nem cor, nem idade ou é exclusiva de um grupo.
              A tecnologia é para TODOS!
              "
            </h3>
          <div class="partners-supporters-form">
            <h3>Seja um parceiro e apoie a diversidade :)</h3>
            <p>Preencha nosso formulário que entramos em contato:</p>
            <a class="button-primary" href="parceiros.html" target="_blank">Faça uma parceria</a>
          </div>
        </div>
      </div>

      <h2 class="page-section-subtitle pink">Parceiros e Apoiadores</h2>

      <ul class="partners-supporters-links">
        {% for partner in site.data.partners %}
          <li>
            <a href="{{ partner.main_url }}" target="_blank">
              <img src="images/parceiros/{{ partner.logo }}" alt="{{ partner.name }}"/>
            </a>
          </li>
        {% endfor %}

      </ul>
    </section>

    <!-- FOOTER -->
    <footer id="footer" class="page-section-black-four">
      <div class="footer-first">
        <nav class="footer-second">
          <ul class="footer-menu">
            <li><img class="footer-logo" src="images/footer.png" alt="Icone Codamos"/></li>
            <li><a href="eventos.html" target="_self">Eventos</a></li>
            <li><a href="palestrantes.html" target="_self">Palestrantes</a></li>
            <li><a href="parceiros.html" target="_self">Parceiros</a></li>
            <li><a href="codigo-de-conduta-codamos.pdf" target="_self">Código de conduta</a></li>
          </ul>
        </nav>
      </div>
      <div class="footer-third">
        <nav class="footer-social-nav">
          <div class="footer-social-links">
            <p>Codamos <span class="copyleft">&copy;</span> 2017</p>
          </div>
          <ul class="footer-social-media">
            <li>
              <a href="https://twitter.com/CodamosClub" target="_blank" alt="Twitter" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="https://www.facebook.com/codamosclub" target="_blank" alt="Facebook" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="https://www.meetup.com/pt-BR/Codamos-Club/" target="_blank" alt="Meetup" title="Meetup"><i class="fa fa-meetup" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="https://medium.com/codamos" target="_blank" alt="Medium" title="Medium"><i class="fa fa-medium" aria-hidden="true"></i></a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer-fourth">
        <p class="footer-text">Codamos é marca registrada do Codamos.club <span class="copyleft">&copy;</span> 2015–2017.</p>
        <p class="footer-text">O Codamos é uma iniciativa para fumentar inclusão e diversidade na ciência, tecnologia e educação.</p>
      </div>
    </footer>
  </body>
</html>
