---
---
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Codamos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="O Codamos une eventos com inclusão, diversidade, palestrantes, informações de workshops, cursos e oportunidades de networking em TI para todas as pessoas em todo o Brasil.">
    <meta name="twitter:site" content="@CodamosClub">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="fb:app_id" content="153860871889386">
    <meta property="og:image" content="http://www.codamos.club/images/imagem-redes-codamos.png">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans|Roboto:300,400,700">

    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>

    {% include analytics.html %}

    <script defer src="https://cdn.polyfill.io/v2/polyfill.min.js?features=IntersectionObserver|gated"></script>
    <script defer src="js/lazy-load.js"></script>
    {% for script in page.scripts %}
      <script defer src="js/{{script}}.js"></script>
    {% endfor %}
  </head>
  <body>
    <!-- CABECALHO -->
    <header id="header">
      <div class="header-navbar">
        <a class="logotipo-codamos" href="/">
          <img src="images/logo.png" alt="Logotipo Codamos">
        </a>

        <nav class="header-navbar-menu">
          <a href="/eventos"
             {% if page.url == "/eventos.html" %}class="active"{% endif %}>
            Eventos</a>
          <a href="/comunidades"
             {% if page.url == "/comunidades.html" %}class="active"{% endif %}>
            Comunidades</a>
          <a href="/podcast"
             {% if page.url == "/podcast.html" %}class="active"{% endif %}>
            Para ouvir, ver e ler</a>
          <a href="/pessoas"
             {% if page.url == "/pessoas.html" %}class="active"{% endif %}>
            Pessoas</a>
          <a href="/quem-somos"
             {% if page.url == "/quem-somos.html" %}class="active"{% endif %}>
            Sobre o Codamos</a>
          <a href="/codigo-de-conduta"
             {% if page.url == "/codigo-de-conduta.html" %}class="active"{% endif %}>
            Código de Conduta
          </a>
        </nav>

        <!---<div class="header-social-media">
          <a href="https://twitter.com/CodamosClub" rel="noopener" target="_blank" title="Twitter">
            <i class="fab fa-twitter" aria-hidden="true"></i>
          </a>
          <a href="https://www.facebook.com/codamosclub" rel="noopener" target="_blank" title="Facebook">
            <i class="fab fa-facebook-f" aria-hidden="true"></i>
          </a>
          <a href="https://www.meetup.com/pt-BR/Codamos-Club/" rel="noopener" target="_blank" title="Meetup">
            <i class="fab fa-meetup" aria-hidden="true"></i>
          </a>
          <a href="https://medium.com/codamos" rel="noopener" target="_blank" title="Medium">
            <i class="fab fa-medium" aria-hidden="true"></i>
          </a>
        </div>-->

        <div class="header-menu-hamburger">
          <input id="button-hamburguer" type="checkbox">
          <label for="button-hamburguer">
            <i class="fas fa-bars fa-2x" aria-hidden="true"></i>
          </label>

          <ul class="submenu-hamburger">
            <li><a href="/eventos">Eventos</a></li>
            <li><a href="/comunidades">Comunidades</a></li>
            <li><a href="/podcast">Para ouvir, ver e ler</a></li>
            <li><a href="/pessoas">Pessoas</a></li>
            <li><a href="/quem-somos">Sobre o Codamos</a></li>
            <li><a href="/parceiros">Parceiros</a></li>
            <li><a href="/codigo-de-conduta">Código de Conduta</a></li>
            <li>
              <!--<ul class="submenu-hamburger-social-media">
                <li>
                  <a href="https://twitter.com/CodamosClub" rel="noopener" target="_blank">
                    <i class="fab fa-twitter" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.facebook.com/codamosclub" rel="noopener" target="_blank">
                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.meetup.com/pt-BR/Codamos-Club/" rel="noopener" target="_blank">
                    <i class="fab fa-meetup" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="https://medium.com/codamos" rel="noopener" target="_blank">
                    <i class="fab fa-medium" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>-->
            </li>
          </ul>
        </div>
      </div>
      <div class="header-border"></div>
    </header>

    {{ content }}

    <!-- PARCEIROS E APOIADORES
    <section id="partners-supporters" class="page-section-black">

      <div class="partners-supporters-box" data-background="images/bg-parceiros.jpg">
        <div class="partners-supporters-wannabe">
            <h3>Seja um parceiro, apoie a diversidade.</h3>
            <h4>Preencha o formulário que entramos em contato:</h4>
            <a class="button-partners" href="/parceiros" target="_blank">Fazer parceria</a>
        </div>

      <div>
        <h2 class="page-section-subtitle-patners">Apoiadores</h2>

        <ul class="partners-supporters-links">
          {% for supporter in site.data.supporters %}
            <li>
              <a href="{{ supporter.main_url }}" rel="noopener" target="_blank">
                <img data-src="images/apoiadores/{{ supporter.logo }}" alt="{{ supporter.name }}"/>
              </a>
            </li>
          {% endfor %}
        </ul>

        <h2 class="page-section-subtitle-patners">Parceiros</h2>

        <ul class="partners-supporters-links">
          {% for partner in site.data.partners %}
            <li>
              <a href="{{ partner.main_url }}" rel="noopener" target="_blank">
                <img data-src="images/parceiros/{{ partner.logo }}" alt="{{ partner.name }}"/>
              </a>
            </li>
          {% endfor %}
        </ul>

        {% if site.data.sponsors %}
        <h2 class="page-section-subtitle-patners">Patrocinadores</h2>

        <ul class="partners-supporters-links">
          {% for sponsor in site.data.sponsors %}
            <li>
              <a href="{{ sponsor.main_url }}" rel="noopener" target="_blank">
                <img data-src="images/patrocinadores/{{ sponsor.logo }}" alt="{{ sponsor.name }}"/>
              </a>
            </li>
          {% endfor %}
        </ul>
        {% endif %}

      </div>
      </div>

    </section>-->

    <!-- FOOTER -->
    <div class="footer-border"></div>
    <div class="footer-contato">
        <div class="footer-contato-esq">
          <h3 class="footer-contato-esq-title">Quer falar com a gente? <i class="fas fa-comment"></i></h3>
          <p>Preencha o formulário que entramos em contato.</p>
        </div>
        <div class="footer-contato-dir">
          <a class="button-default-outline" href="https://twitter.com/intent/tweet?related=CodamosClub&text=Quero%20divulgar%20meu%20evento%20no%20@CodamosClub%21&hashtags=EventoCodamos"> Hey Codamos!</a>
        </div>
    </div>

    <footer id="footer" class="page-section-black">

      <!--<nav class="footer-box footer-menu">
        <a href="/eventos">Eventos</a>
        <span class="divider"></span>
        <a href="/comunidades">Comunidades</a>
        <span class="divider"></span>
        <a href="/podcast">Para ouvir, ver e ler</a>
        <span class="divider"></span>
        <a href="/pessoas">Pessoas</a>
        <span class="divider"></span>
        <a href="/quem-somos">Sobre o Codamos</a>
        <span class="divider"></span>
        <a href="/parceiros">Parceiros</a>
        <span class="divider"></span>
        <a href="/codigo-de-conduta">Código de conduta</a>
      </nav>-->

      <nav class="footer-box footer-social">
        <a href="https://twitter.com/CodamosClub" rel="noopener" target="_blank" title="Twitter">
          <i class="fab fa-twitter fa-2x" aria-hidden="true"></i>
        </a>
        <a href="https://www.facebook.com/codamosclub" rel="noopener" target="_blank" title="Facebook">
          <i class="fab fa-facebook-f fa-2x" aria-hidden="true"></i>
        </a>
        <a href="https://www.meetup.com/pt-BR/Codamos-Club/" rel="noopener" target="_blank" title="Meetup">
          <i class="fab fa-meetup fa-2x" aria-hidden="true"></i>
        </a>
        <a href="https://medium.com/codamos" rel="noopener" target="_blank" title="Medium">
          <i class="fab fa-medium fa-2x" aria-hidden="true"></i>
        </a>
      </nav>

      <div class="footer-box footer-creativecommons">
        <p class="footer-creativecommons-text">
          <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">
            <img alt="Licença Creative Commons" src="https://licensebuttons.net/l/by/4.0/88x31.png" />
          </a>
        </p>

        <p class="footer-creativecommons-text">
          Esta obra está licenciada com uma Licença
          <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Atribuição 4.0 Internacional</a>.
        </p>

        <p class="footer-creativecommons-text">
          Codamos <span class="copyleft">&copy;</span> 2017 - O Codamos é uma iniciativa sem fins lucrativos para fomentar a inclusão e a diversidade na tecnologia, ciência e educação.
        </p>
      </div>
    </footer>
  </body>
</html>
